@charset "UTF-8";
/* 폰트 설정 */
font-face {
  font-family: star;
  font-weight: 400;
  src: url("../font/Starjedi.otf.eot");
  src: local("※"), url("../font/Starjedi.woff") format("woff"), url("../font/Starjedi.otf") format("opentype"); }

font-face {
  font-family: smile;
  font-weight: 400;
  src: url("../font/BinggraeMelonaA1.eot");
  src: local("※"), url("../font/BinggraeMelonaA1.woff2") format("woff2"), url("../font/BinggraeMelona.woff") format("woff"), url("../font/BinggraeMelona.otf") format("opentype"); }

font-face {
  font-family: smile;
  font-weight: 600;
  src: url("../font/BinggraeMelona-BoldA1.eot");
  src: local("※"), url("../font/BinggraeMelona-BoldA1.woff2") format("woff2"), url("../font/BinggraeMelona-Bold.woff") format("woff"), url("../font/BinggraeMelona.otf") format("opentype"); }

/* tagreset */
* {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4 {
  font-size: 100%; }

ul, li {
  list-style: none; }

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit; }

img {
  vertical-align: top;
  border: none;
  max-width: 100%; }

address {
  font-style: normal; }

button {
  border: none;
  background: none;
  cursor: pointer; }

header, nav, section, article, footer {
  display: block; }

/* common class */
.p_r {
  position: relative; }

.p_a {
  position: absolute; }

.f_l {
  float: left; }

.f_r {
  float: right; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

.sr-only {
  position: absolute;
  top: 0;
  left: -9999px; }

body {
  width: 100%;
  margin: 0 auto;
  font-family: smile;
  font-weight: 400;
  font-size: 16px; }

.area {
  width: 100%;
  height: 100%; }

/* skip  */
#skip a {
  position: absolute;
  top: 0;
  left: -9999px;
  z-index: 1000; }

#skip a:focus {
  left: 0;
  width: 100%;
  text-align: center;
  height: 3rem;
  line-height: 3rem;
  background: #000;
  color: #fff;
  font-size: 1.5rem; }

/* header */
#header {
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  height: 58px;
  z-index: 1000; }
  #header .logo {
    width: 38vw;
    height: 3vw;
    top: 20%;
    left: 37vw; }
    #header .logo img {
      -webkit-transition: opacity 0.5s;
      -o-transition: opacity 0.5s;
      transition: opacity 0.5s;
      top: 0;
      left: 0; }
    #header .logo, #header .logo img {
      position: absolute; }
    #header .logo .logo_yellow {
      opacity: 0; }
  #header.load {
    top: 0; }
  #header.bgchange {
    background: rgba(109, 109, 109, 0.3);
    border-color: #e5e5e5; }
    #header.bgchange .logo .logo_black {
      opacity: 0; }
    #header.bgchange .logo .logo_yellow {
      opacity: 1; }
  #header .btn_menu.active .line {
    background: #fff !important; }

.btn_menu {
  top: 35%;
  left: 3vw;
  width: 8vw;
  height: 4vw;
  z-index: 1000; }
  .btn_menu, .btn_menu .line {
    position: absolute; }
  .btn_menu .line {
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-background-size: cover !important;
    background-size: cover !important;
    width: 100%;
    height: 4px;
    background: #333;
    left: 0; }
    .btn_menu .line.top {
      top: 0; }
    .btn_menu .line.mid {
      top: 10px; }
    .btn_menu .line.btm {
      top: 20px; }
  .btn_menu.active .top {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 10px; }
  .btn_menu.active .mid {
    opacity: 0; }
  .btn_menu.active .btm {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 10px; }

#gnb {
  font-size: 10vw;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 100;
  right: 0;
  bottom: 0;
  padding-top: 56px;
  overflow-y: auto; }
  #gnb ul li a {
    display: block;
    height: 35px;
    line-height: 35px;
    color: #fff; }
  #gnb > ul > li > a {
    position: relative;
    padding: 30px 40px;
    font-weight: 700; }

/* cnt1 */
#content {
  width: 100%;
  height: 100%;
  color: #fff;
  overflow: hidden; }

#cnt1 {
  position: relative;
  height: 1080px;
  width: 100%;
  background-image: url("../images/cnt1/bg.png"); }
  #cnt1 .cnt1_1 {
    position: relative;
    top: 20%;
    left: 0;
    width: 100%;
    text-align: center;
    height: 50%; }

.portfolio {
  top: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-animation: star 4s ease-out;
  -moz-animation: star 4s ease-out;
  -o-animation: star 4s ease-out;
  animation: star 4s ease-out; }

.foryou {
  top: 55%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-animation: wars 4s ease-out;
  -moz-animation: wars 4s ease-out;
  -o-animation: wars 4s ease-out;
  animation: wars 4s ease-out; }

.byline {
  font-family: star;
  top: 37%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-animation: move-byline 4s linear;
  -moz-animation: move-byline 4s linear;
  -o-animation: move-byline 4s linear;
  animation: move-byline 4s linear;
  font-size: 5rem; }
  .byline span {
    display: inline-block;
    -webkit-animation: spin-letters 4s linear;
    -moz-animation: spin-letters 4s linear;
    -o-animation: spin-letters 4s linear;
    animation: spin-letters 4s linear; }

@-webkit-keyframes star {
  0% {
    opacity: 0;
    transform: scale(1.5) translateY(-0.75em); }
  20% {
    opacity: 1; }
  89% {
    opacity: 1;
    transform: scale(1); }
  100% {
    opacity: 0;
    transform: translateZ(-1000em); } }
@-moz-keyframes star {
  0% {
    opacity: 0;
    transform: scale(1.5) translateY(-0.75em); }
  20% {
    opacity: 1; }
  89% {
    opacity: 1;
    transform: scale(1); }
  100% {
    opacity: 0;
    transform: translateZ(-1000em); } }
@keyframes star {
  0% {
    opacity: 0;
    transform: scale(1.5) translateY(-0.75em); }
  20% {
    opacity: 1; }
  89% {
    opacity: 1;
    transform: scale(1); }
  100% {
    opacity: 0;
    transform: translateZ(-1000em); } }
@-webkit-keyframes wars {
  0% {
    opacity: 0;
    transform: scale(1.5) translateY(0.5em); }
  20% {
    opacity: 1; }
  90% {
    opacity: 1;
    transform: scale(1); }
  100% {
    opacity: 0;
    transform: translateZ(-1000em); } }
@-moz-keyframes wars {
  0% {
    opacity: 0;
    transform: scale(1.5) translateY(0.5em); }
  20% {
    opacity: 1; }
  90% {
    opacity: 1;
    transform: scale(1); }
  100% {
    opacity: 0;
    transform: translateZ(-1000em); } }
@keyframes wars {
  0% {
    opacity: 0;
    transform: scale(1.5) translateY(0.5em); }
  20% {
    opacity: 1; }
  90% {
    opacity: 1;
    transform: scale(1); }
  100% {
    opacity: 0;
    transform: translateZ(-1000em); } }
@-webkit-keyframes spin-letters {
  0%, 10% {
    opacity: 0;
    transform: rotateY(90deg); }
  30% {
    opacity: 1; }
  70%, 86% {
    transform: rotateY(0);
    opacity: 1; }
  95%, 100% {
    opacity: 0; } }
@-moz-keyframes spin-letters {
  0%, 10% {
    opacity: 0;
    transform: rotateY(90deg); }
  30% {
    opacity: 1; }
  70%, 86% {
    transform: rotateY(0);
    opacity: 1; }
  95%, 100% {
    opacity: 0; } }
@keyframes spin-letters {
  0%, 10% {
    opacity: 0;
    transform: rotateY(90deg); }
  30% {
    opacity: 1; }
  70%, 86% {
    transform: rotateY(0);
    opacity: 1; }
  95%, 100% {
    opacity: 0; } }
@-webkit-keyframes move-byline {
  0% {
    transform: translateZ(5em); }
  100% {
    transform: translateZ(0); } }
@-moz-keyframes move-byline {
  0% {
    transform: translateZ(5em); }
  100% {
    transform: translateZ(0); } }
@keyframes move-byline {
  0% {
    transform: translateZ(5em); }
  100% {
    transform: translateZ(0); } }
/* cnt2 */
#cnt2 {
  width: 100%;
  height: 2050px;
  background-image: url("../images/cnt2/bg.png");
  overflow: hidden;
  z-index: -1; }
  #cnt2 .moon {
    bottom: 12%;
    right: -10%;
    z-index: 1; }
  #cnt2 h2 {
    bottom: 15%;
    left: 3%;
    color: #ffff99;
    font-family: smile;
    font-weight: 600;
    font-size: 7.5rem;
    line-height: 7.5rem; }

.cloud {
  bottom: 20%;
  left: -10%;
  z-index: 0;
  -webkit-animation: cloud 50s linear infinite;
  -moz-animation: cloud 50s linear infinite;
  -o-animation: cloud 50s linear infinite;
  animation: cloud 50s linear infinite; }

@-webkit-keyframes cloud {
  0% {
    opacity: .7;
    transform: translateX(0em); }
  25% {
    opacity: .8;
    transform: translateX(3em); }
  50% {
    opacity: 1;
    transform: translateX(5em); }
  75% {
    opacity: .8;
    transform: translateX(3em); }
  100% {
    opacity: .6;
    transform: translateX(0em); } }
@-moz-keyframes cloud {
  0% {
    opacity: .7;
    transform: translateX(0em); }
  25% {
    opacity: .8;
    transform: translateX(3em); }
  50% {
    opacity: 1;
    transform: translateX(5em); }
  75% {
    opacity: .8;
    transform: translateX(3em); }
  100% {
    opacity: .6;
    transform: translateX(0em); } }
@keyframes cloud {
  0% {
    opacity: .7;
    transform: translateX(0em); }
  25% {
    opacity: .8;
    transform: translateX(3em); }
  50% {
    opacity: 1;
    transform: translateX(5em); }
  75% {
    opacity: .8;
    transform: translateX(3em); }
  100% {
    opacity: .6;
    transform: translateX(0em); } }
.moonshadow1 {
  bottom: -2%;
  right: 0;
  -webkit-animation: moonshadow1 4s linear infinite;
  -moz-animation: moonshadow1 4s linear infinite;
  -o-animation: moonshadow1 4s linear infinite;
  animation: moonshadow1 4s linear infinite; }

@-webkit-keyframes moonshadow1 {
  0% {
    opacity: 1;
    transform: translateY(0em); }
  15% {
    transform: translateY(0.5em); }
  30% {
    transform: translateY(1em); }
  45% {
    opacity: .2;
    transform: translateY(0.5em); }
  60% {
    transform: translateY(1em); }
  70% {
    transform: translateY(0.5em); }
  100% {
    opacity: 1;
    transform: translateY(0em); } }
@-moz-keyframes moonshadow1 {
  0% {
    opacity: 1;
    transform: translateY(0em); }
  15% {
    transform: translateY(0.5em); }
  30% {
    transform: translateY(1em); }
  45% {
    opacity: .2;
    transform: translateY(0.5em); }
  60% {
    transform: translateY(1em); }
  70% {
    transform: translateY(0.5em); }
  100% {
    opacity: 1;
    transform: translateY(0em); } }
@keyframes moonshadow1 {
  0% {
    opacity: 1;
    transform: translateY(0em); }
  15% {
    transform: translateY(0.5em); }
  30% {
    transform: translateY(1em); }
  45% {
    opacity: .2;
    transform: translateY(0.5em); }
  60% {
    transform: translateY(1em); }
  70% {
    transform: translateY(0.5em); }
  100% {
    opacity: 1;
    transform: translateY(0em); } }
.moonshadow2 {
  bottom: -2%;
  right: 0;
  opacity: 0.7;
  -webkit-animation: moonshadow2 4s linear infinite;
  -moz-animation: moonshadow2 4s linear infinite;
  -o-animation: moonshadow2 4s linear infinite;
  animation: moonshadow2 4s linear infinite; }

@-webkit-keyframes moonshadow2 {
  0% {
    opacity: 1;
    transform: translateX(0em); }
  15% {
    transform: translateX(1em); }
  30% {
    transform: translateX(0em); }
  45% {
    opacity: .2;
    transform: translateX(1em); }
  60% {
    transform: translateX(0em); }
  70% {
    transform: translateX(1em); }
  100% {
    opacity: 1;
    transform: translateX(0em); } }
@-moz-keyframes moonshadow2 {
  0% {
    opacity: 1;
    transform: translateX(0em); }
  15% {
    transform: translateX(1em); }
  30% {
    transform: translateX(0em); }
  45% {
    opacity: .2;
    transform: translateX(1em); }
  60% {
    transform: translateX(0em); }
  70% {
    transform: translateX(1em); }
  100% {
    opacity: 1;
    transform: translateX(0em); } }
@keyframes moonshadow2 {
  0% {
    opacity: 1;
    transform: translateX(0em); }
  15% {
    transform: translateX(1em); }
  30% {
    transform: translateX(0em); }
  45% {
    opacity: .2;
    transform: translateX(1em); }
  60% {
    transform: translateX(0em); }
  70% {
    transform: translateX(1em); }
  100% {
    opacity: 1;
    transform: translateX(0em); } }
.moonshadow3 {
  bottom: -1%;
  right: 0;
  opacity: 0.6;
  -webkit-animation: moonshadow2 6s linear infinite;
  -moz-animation: moonshadow2 6s linear infinite;
  -o-animation: moonshadow2 6s linear infinite;
  animation: moonshadow2 6s linear infinite; }

.star1 {
  top: 15%;
  right: 0;
  z-index: -1;
  -webkit-animation: star1 2s linear infinite;
  -moz-animation: star1 2s linear infinite;
  -o-animation: star1 2s linear infinite;
  animation: star1 2s linear infinite; }

.star2 {
  top: 0;
  right: 0;
  z-index: -1;
  -webkit-animation: star2 3s linear infinite;
  -moz-animation: star2 3s linear infinite;
  -o-animation: star2 3s linear infinite;
  animation: star2 3s linear infinite; }

@-webkit-keyframes star1 {
  0% {
    opacity: 0;
    transform: translateX(0em) translatey(0em); }
  10% {
    transform: translateX(-10em) translatey(10em); }
  20% {
    transform: translateX(-20em) translatey(20em); }
  30% {
    opacity: .2;
    transform: translateX(-30em) translatey(30em); }
  40% {
    transform: translateX(-40em) translatey(40em); }
  50% {
    transform: translateX(-50em) translatey(50em); }
  60% {
    opacity: .1;
    transform: translateX(-60em) translatey(60em); }
  70% {
    transform: translateX(-70em) translatey(70em); }
  80% {
    transform: translateX(-80em) translatey(80em); }
  90% {
    transform: translateX(-90em) translatey(90em); }
  100% {
    opacity: 0;
    transform: translateX(-100em) translatey(100em); } }
@-moz-keyframes star1 {
  0% {
    opacity: 0;
    transform: translateX(0em) translatey(0em); }
  10% {
    transform: translateX(-10em) translatey(10em); }
  20% {
    transform: translateX(-20em) translatey(20em); }
  30% {
    opacity: .2;
    transform: translateX(-30em) translatey(30em); }
  40% {
    transform: translateX(-40em) translatey(40em); }
  50% {
    transform: translateX(-50em) translatey(50em); }
  60% {
    opacity: .1;
    transform: translateX(-60em) translatey(60em); }
  70% {
    transform: translateX(-70em) translatey(70em); }
  80% {
    transform: translateX(-80em) translatey(80em); }
  90% {
    transform: translateX(-90em) translatey(90em); }
  100% {
    opacity: 0;
    transform: translateX(-100em) translatey(100em); } }
@keyframes star1 {
  0% {
    opacity: 0;
    transform: translateX(0em) translatey(0em); }
  10% {
    transform: translateX(-10em) translatey(10em); }
  20% {
    transform: translateX(-20em) translatey(20em); }
  30% {
    opacity: .2;
    transform: translateX(-30em) translatey(30em); }
  40% {
    transform: translateX(-40em) translatey(40em); }
  50% {
    transform: translateX(-50em) translatey(50em); }
  60% {
    opacity: .1;
    transform: translateX(-60em) translatey(60em); }
  70% {
    transform: translateX(-70em) translatey(70em); }
  80% {
    transform: translateX(-80em) translatey(80em); }
  90% {
    transform: translateX(-90em) translatey(90em); }
  100% {
    opacity: 0;
    transform: translateX(-100em) translatey(100em); } }
@-webkit-keyframes star2 {
  0% {
    opacity: 0;
    transform: translateX(0em) translatey(0em); }
  50% {
    opacity: .3;
    transform: translateX(-100em) translatey(50em); }
  100% {
    opacity: 0;
    transform: translateX(-200em) translatey(100em); } }
@-moz-keyframes star2 {
  0% {
    opacity: 0;
    transform: translateX(0em) translatey(0em); }
  50% {
    opacity: .3;
    transform: translateX(-100em) translatey(50em); }
  100% {
    opacity: 0;
    transform: translateX(-200em) translatey(100em); } }
@keyframes star2 {
  0% {
    opacity: 0;
    transform: translateX(0em) translatey(0em); }
  50% {
    opacity: .3;
    transform: translateX(-100em) translatey(50em); }
  100% {
    opacity: 0;
    transform: translateX(-200em) translatey(100em); } }
/* cnt3 */
#cnt3 {
  width: 100%;
  height: 1500px;
  position: relative;
  display: table;
  background: #3161c1 url("../images/cnt4/cloud2.png") no-repeat center bottom;
  /* @include bgcover(cover); */
  background-size: 100% auto; }
  #cnt3 > div {
    position: absolute;
    top: 10%; }
  #cnt3 .hello {
    color: white;
    letter-spacing: 2px;
    font-size: 4rem;
    font-family: "smile";
    font-weight: 600; }
  #cnt3 #main-ctr {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
  #cnt3 .content {
    border: 1px solid black;
    display: inline-block;
    position: relative; }
  #cnt3 svg {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9); }
    #cnt3 svg #smile-up,
    #cnt3 svg #circle,
    #cnt3 svg #eye-to-left,
    #cnt3 svg #eye-to-right,
    #cnt3 svg #wink,
    #cnt3 svg #bg {
      visibility: hidden; }

/* cnt4 */
#cnt4 {
  background: linear-gradient(#3161c1, #ffcccc);
  position: relative;
  z-index: -2; }
  #cnt4 h3 {
    float: right; }
  #cnt4 #cnt4-1 {
    position: fixed;
    bottom: 25%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-animation: bloom 10s alternate infinite;
    -moz-animation: bloom 10s alternate infinite;
    -o-animation: bloom 10s alternate infinite;
    animation: bloom 10s alternate infinite;
    margin-left: -250px; }
    #cnt4 #cnt4-1 li:nth-of-type(1) {
      -webkit-transform: scale(0.8);
      -moz-transform: scale(0.8);
      -o-transform: scale(0.8);
      -ms-transform: scale(0.8);
      transform: scale(0.8); }
    #cnt4 #cnt4-1 li:nth-of-type(2) {
      position: absolute;
      top: 47%;
      left: 6.5rem;
      -webkit-animation: fire 10s alternate infinite;
      -moz-animation: fire 10s alternate infinite;
      -o-animation: fire 10s alternate infinite;
      animation: fire 10s alternate infinite;
      z-index: -3; }
  #cnt4 .para {
    padding-left: 10%; }

@-webkit-keyframes bloom {
  0% {
    opacity: .8;
    transform: translateY(5em); }
  25% {
    opacity: 1;
    transform: translateY(-1em); }
  50% {
    opacity: .8;
    transform: translateY(5em); }
  75% {
    opacity: 1;
    transform: translateY(-1em); }
  100% {
    opacity: .8;
    transform: translateY(5em); } }
@-moz-keyframes bloom {
  0% {
    opacity: .8;
    transform: translateY(5em); }
  25% {
    opacity: 1;
    transform: translateY(-1em); }
  50% {
    opacity: .8;
    transform: translateY(5em); }
  75% {
    opacity: 1;
    transform: translateY(-1em); }
  100% {
    opacity: .8;
    transform: translateY(5em); } }
@keyframes bloom {
  0% {
    opacity: .8;
    transform: translateY(5em); }
  25% {
    opacity: 1;
    transform: translateY(-1em); }
  50% {
    opacity: .8;
    transform: translateY(5em); }
  75% {
    opacity: 1;
    transform: translateY(-1em); }
  100% {
    opacity: .8;
    transform: translateY(5em); } }
@-webkit-keyframes fire {
  0% {
    opacity: .3;
    transform: translateY(1em) translateX(0.5em) scale(0.2); }
  25% {
    opacity: 1;
    transform: translateY(0em) translateX(0em) scale(0.3); }
  50% {
    opacity: .3;
    transform: translateX(-0.5em) translateY(1em) scale(0.2); }
  75% {
    opacity: 1;
    transform: translateX(0em) translateY(0em) scale(0.3); }
  100% {
    opacity: .3;
    transform: translateY(1em) translateX(0.5em) scale(0.2); } }
@-moz-keyframes fire {
  0% {
    opacity: .3;
    transform: translateY(1em) translateX(0.5em) scale(0.2); }
  25% {
    opacity: 1;
    transform: translateY(0em) translateX(0em) scale(0.3); }
  50% {
    opacity: .3;
    transform: translateX(-0.5em) translateY(1em) scale(0.2); }
  75% {
    opacity: 1;
    transform: translateX(0em) translateY(0em) scale(0.3); }
  100% {
    opacity: .3;
    transform: translateY(1em) translateX(0.5em) scale(0.2); } }
@keyframes fire {
  0% {
    opacity: .3;
    transform: translateY(1em) translateX(0.5em) scale(0.2); }
  25% {
    opacity: 1;
    transform: translateY(0em) translateX(0em) scale(0.3); }
  50% {
    opacity: .3;
    transform: translateX(-0.5em) translateY(1em) scale(0.2); }
  75% {
    opacity: 1;
    transform: translateX(0em) translateY(0em) scale(0.3); }
  100% {
    opacity: .3;
    transform: translateY(1em) translateX(0.5em) scale(0.2); } }
#cnt4-2 {
  width: 100%;
  overflow-x: hidden;
  /* 기본 relative */
  /* 가로 스크롤로 보여질 영역에서는 fixed로 고정시키기 */ }
  #cnt4-2 > img {
    -webkit-animation: fire 10s alternate infinite;
    -moz-animation: fire 10s alternate infinite;
    -o-animation: fire 10s alternate infinite;
    animation: fire 10s alternate infinite; }
  #cnt4-2 .cntwrap {
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    width: auto;
    /* 가로크기는 스크립트에서도 가능함 */ }
    #cnt4-2 .cntwrap.fix {
      position: fixed; }
    #cnt4-2 .cntwrap > ul {
      position: relative;
      top: 80%;
      margin-top: -300px;
      margin-left: 0;
      width: validate;
      height: 600px; }
      #cnt4-2 .cntwrap > ul > li {
        float: left;
        width: 700px;
        height: 600px;
        line-height: 600px; }
        #cnt4-2 .cntwrap > ul > li h3 {
          font-size: 7rem; }
        #cnt4-2 .cntwrap > ul > li p {
          font-size: 4rem; }
        #cnt4-2 .cntwrap > ul > li img {
          -webkit-animation: cloud 6s linear infinite;
          -moz-animation: cloud 6s linear infinite;
          -o-animation: cloud 6s linear infinite;
          animation: cloud 6s linear infinite; }
      #cnt4-2 .cntwrap > ul li:nth-of-type(3) h3, #cnt4-2 .cntwrap > ul li:nth-of-type(4) h3, #cnt4-2 .cntwrap > ul li:nth-of-type(5) h3 {
        font-size: 15rem; }
      #cnt4-2 .cntwrap > ul li:nth-of-type(5) {
        background: url("../images/cnt4/lyric.png") no-repeat center 65%; }
      #cnt4-2 .cntwrap > ul li:nth-of-type(6) {
        background: url("../images/cnt4/lyric1.png") no-repeat center 65%;
        position: relative; }
        #cnt4-2 .cntwrap > ul li:nth-of-type(6) div {
          position: absolute;
          top: -7rem;
          left: 5rem; }
          #cnt4-2 .cntwrap > ul li:nth-of-type(6) div p {
            position: absolute;
            top: 5rem;
            left: 10rem; }
      #cnt4-2 .cntwrap > ul li:nth-of-type(7) {
        background: url("../images/cnt4/lyric2.png") no-repeat center 65%;
        position: relative; }
        #cnt4-2 .cntwrap > ul li:nth-of-type(7) div {
          position: absolute;
          top: 5rem;
          left: 50%; }
          #cnt4-2 .cntwrap > ul li:nth-of-type(7) div p {
            position: absolute;
            top: -5rem;
            left: 5rem; }
      #cnt4-2 .cntwrap > ul li:nth-of-type(8) {
        background: url("../images/cnt4/lyric1.png") no-repeat center 65%;
        position: relative; }
        #cnt4-2 .cntwrap > ul li:nth-of-type(8) div {
          position: absolute;
          top: -2rem;
          left: 20%; }
          #cnt4-2 .cntwrap > ul li:nth-of-type(8) div p {
            position: absolute;
            top: 8rem;
            left: 10rem; }
      #cnt4-2 .cntwrap > ul li:nth-of-type(9) {
        background: url("../images/cnt4/lyric2.png") no-repeat center 65%;
        position: relative; }
        #cnt4-2 .cntwrap > ul li:nth-of-type(9) div {
          position: absolute;
          top: -1rem;
          left: 70%; }
          #cnt4-2 .cntwrap > ul li:nth-of-type(9) div p {
            position: absolute;
            top: 6rem;
            left: 12rem; }
      #cnt4-2 .cntwrap > ul li:nth-of-type(10) {
        background: url("../images/cnt4/lyric1.png") no-repeat center 65%;
        position: relative; }
        #cnt4-2 .cntwrap > ul li:nth-of-type(10) div {
          position: absolute;
          top: 5rem;
          left: 60%; }
          #cnt4-2 .cntwrap > ul li:nth-of-type(10) div p {
            position: absolute;
            top: -4rem;
            left: 8rem; }
      #cnt4-2 .cntwrap > ul li:nth-of-type(11) {
        background: url("../images/cnt4/lyric2.png") no-repeat center 65%;
        position: relative; }
        #cnt4-2 .cntwrap > ul li:nth-of-type(11) div {
          position: absolute;
          top: 0;
          left: 20%; }
          #cnt4-2 .cntwrap > ul li:nth-of-type(11) div p {
            position: absolute;
            top: 6rem;
            left: 8rem; }
      #cnt4-2 .cntwrap > ul li:nth-of-type(12) {
        background: url("../images/cnt4/lyric1.png") no-repeat center 65%;
        position: relative; }
        #cnt4-2 .cntwrap > ul li:nth-of-type(12) div {
          position: absolute;
          top: -7rem;
          left: 0; }
          #cnt4-2 .cntwrap > ul li:nth-of-type(12) div p {
            position: absolute;
            top: 6rem;
            left: 20rem; }
      #cnt4-2 .cntwrap > ul li:nth-of-type(13) {
        background: url("../images/cnt4/lyric2.png") no-repeat center 65%;
        position: relative; }
        #cnt4-2 .cntwrap > ul li:nth-of-type(13) div {
          position: absolute;
          top: -3rem;
          left: 0; }
          #cnt4-2 .cntwrap > ul li:nth-of-type(13) div p {
            position: absolute;
            top: 8rem;
            left: 15rem; }
      #cnt4-2 .cntwrap > ul li:nth-of-type(14) {
        background: url("../images/cnt4/lyric2.png") no-repeat center 65%;
        position: relative; }
        #cnt4-2 .cntwrap > ul li:nth-of-type(14) div {
          position: absolute;
          bottom: 0;
          left: 0; }
          #cnt4-2 .cntwrap > ul li:nth-of-type(14) div p {
            position: absolute;
            top: 8rem;
            left: 15rem; }
      #cnt4-2 .cntwrap > ul li:nth-of-type(15) {
        background: url("../images/cnt4/lyric1.png") no-repeat center 65%;
        position: relative; }
        #cnt4-2 .cntwrap > ul li:nth-of-type(15) div {
          position: absolute;
          top: -3rem;
          left: 0; }
          #cnt4-2 .cntwrap > ul li:nth-of-type(15) div p {
            position: absolute;
            top: 8rem;
            left: 15rem; }
      #cnt4-2 .cntwrap > ul li:nth-of-type(16) {
        background: url("../images/cnt4/lyric2.png") no-repeat center 65%;
        position: relative; }
        #cnt4-2 .cntwrap > ul li:nth-of-type(16) div {
          position: absolute;
          bottom: 0;
          left: 0; }
          #cnt4-2 .cntwrap > ul li:nth-of-type(16) div p {
            position: absolute;
            top: 8rem;
            left: 15rem; }
      #cnt4-2 .cntwrap > ul li:nth-of-type(17) {
        background: url("../images/cnt4/lyric2.png") no-repeat center 65%;
        position: relative; }
        #cnt4-2 .cntwrap > ul li:nth-of-type(17) div {
          position: absolute;
          bottom: 0;
          left: 0; }
          #cnt4-2 .cntwrap > ul li:nth-of-type(17) div p {
            position: absolute;
            top: 8rem;
            left: 15rem; }
      #cnt4-2 .cntwrap > ul li:nth-of-type(18) {
        background: url("../images/cnt4/lyric3.png") no-repeat center 65%; }

/* cnt5 */
#cnt5 {
  width: 100%;
  height: 2000px;
  position: relative;
  z-index: 1000;
  color: #FFF;
  background: linear-gradient(#fcc, #cff);
  /* background-image:url("../images/cnt5/cloud.png");   */ }
  #cnt5 .bigstudio {
    top: 20%;
    right: 5%;
    width: 1183px;
    height: 900px;
    background: url("../images/cnt5/스튜디오(빅).png"); }
    #cnt5 .bigstudio li {
      position: absolute; }
      #cnt5 .bigstudio li.choice {
        opacity: 1; }
    #cnt5 .bigstudio .bs-big li:nth-of-type(1) {
      bottom: 0;
      right: 0; }
    #cnt5 .bigstudio .bs-big li:nth-of-type(2) {
      top: 30%;
      left: 5%;
      background: linear-gradient(to bottom right, #fcc, #ff99cc);
      border: 10px solid #fff;
      border-radius: 25px; }
    #cnt5 .bigstudio .bs-big li:nth-of-type(3) {
      top: 40%;
      left: 25%;
      background: linear-gradient(to bottom right, #fcc, #ff99cc);
      border: 10px solid #fff;
      border-radius: 25px; }
    #cnt5 .bigstudio .bs-big li:nth-of-type(4) {
      top: 45%;
      left: 43%;
      background: linear-gradient(to bottom right, #fcc, #ff99cc);
      border: 10px solid #fff;
      border-radius: 25px; }
    #cnt5 .bigstudio .bs-big li:nth-of-type(5) {
      top: 40%;
      left: 65%;
      background: linear-gradient(to bottom right, #fcc, #ff99cc);
      border: 10px solid #fff;
      border-radius: 25px; }
    #cnt5 .bigstudio .bs-big li:nth-of-type(6) {
      bottom: 5%;
      left: 5%;
      font-size: 1.5rem; }
    #cnt5 .bigstudio .bs-small li {
      display: none; }
    #cnt5 .bigstudio .bs-small .f {
      display: block;
      -webkit-animation: f 1s linear;
      -moz-animation: f 1s linear;
      -o-animation: f 1s linear;
      animation: f 1s linear; }
    #cnt5 .bigstudio .bs-small li:nth-of-type(1) {
      top: 12%;
      left: 70%;
      width: 170%; }
    #cnt5 .bigstudio .bs-small li:nth-of-type(2) {
      top: 12%;
      left: -10%; }
    #cnt5 .bigstudio .bs-small li:nth-of-type(3) {
      top: 12%;
      left: 10%; }
    #cnt5 .bigstudio .bs-small li:nth-of-type(4) {
      top: 12%;
      left: 32%; }
    #cnt5 .bigstudio .bs-small li:nth-of-type(5) {
      top: 12%;
      left: 50%; }
  #cnt5 .smallstudio {
    top: 20%;
    left: 5%;
    width: 428px;
    height: 900px;
    background: url("../images/cnt5/스튜디오(작).png"); }
    #cnt5 .smallstudio li {
      position: absolute;
      width: 100%; }
    #cnt5 .smallstudio .ss-title {
      text-align: center; }
      #cnt5 .smallstudio .ss-title .f {
        display: block; }
      #cnt5 .smallstudio .ss-title li {
        display: none;
        top: 10rem;
        text-align: center; }
      #cnt5 .smallstudio .ss-title h3 {
        font-size: 3rem;
        line-height: 4rem;
        width: 100%;
        padding: 20px 0; }
      #cnt5 .smallstudio .ss-title p {
        font-size: 2.5rem;
        line-height: 3rem;
        padding: 5px 0; }
      #cnt5 .smallstudio .ss-title img {
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -o-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
        padding: 10px 0; }
    #cnt5 .smallstudio .ss-button li {
      width: 20%; }
    #cnt5 .smallstudio .ss-button li:nth-of-type(1) {
      bottom: 5%;
      left: 3%; }
    #cnt5 .smallstudio .ss-button li:nth-of-type(2) {
      bottom: 5%;
      left: 25%; }
    #cnt5 .smallstudio .ss-button li:nth-of-type(3) {
      bottom: 5%;
      left: 45%; }
    #cnt5 .smallstudio .ss-button li:nth-of-type(4) {
      bottom: 5%;
      left: 63%; }
    #cnt5 .smallstudio .ss-button li:nth-of-type(5) {
      bottom: 5%;
      left: 79%; }

@-webkit-keyframes f {
  0% {
    opacity: .1; }
  25% {
    opacity: 1; }
  45% {
    opacity: .1; }
  60% {
    opacity: 1; }
  100% {
    opacity: .1; } }
@-moz-keyframes f {
  0% {
    opacity: .1; }
  25% {
    opacity: 1; }
  45% {
    opacity: .1; }
  60% {
    opacity: 1; }
  100% {
    opacity: .1; } }
@keyframes f {
  0% {
    opacity: .1; }
  25% {
    opacity: 1; }
  45% {
    opacity: .1; }
  60% {
    opacity: 1; }
  100% {
    opacity: .1; } }
/* cnt6 */
#cnt6 {
  width: 100%;
  height: 5902px;
  background: url("../images/cnt6/cnt6.png");
  overflow: hidden;
  /* ios의 voiceover에서 접근할수 있도록 display 대신 visibility */ }
  #cnt6 ul {
    width: 100%;
    height: 100%; }
  #cnt6 .cloud {
    width: 100%;
    height: 100%; }
    #cnt6 .cloud img {
      position: absolute; }
  #cnt6 .cloud_1 {
    height: 25%;
    width: 100%; }
    #cnt6 .cloud_1 img:nth-of-type(1) {
      top: 15%;
      left: 30%; }
    #cnt6 .cloud_1 img:nth-of-type(2) {
      top: 40%;
      left: 40%; }
    #cnt6 .cloud_1 img:nth-of-type(3) {
      top: 60%;
      left: 50%; }
    #cnt6 .cloud_1 img:nth-of-type(4) {
      top: 80%;
      left: 70%; }
    #cnt6 .cloud_1 img:nth-of-type(odd) {
      -webkit-animation: cup 3s linear infinite;
      -moz-animation: cup 3s linear infinite;
      -o-animation: cup 3s linear infinite;
      animation: cup 3s linear infinite; }
    #cnt6 .cloud_1 img:nth-of-type(even) {
      -webkit-animation: cdown 3s linear infinite;
      -moz-animation: cdown 3s linear infinite;
      -o-animation: cdown 3s linear infinite;
      animation: cdown 3s linear infinite; }
  #cnt6 .cloud_2 {
    height: 50%;
    width: 100%; }
    #cnt6 .cloud_2 img:nth-of-type(1) {
      top: 15%;
      left: 70%; }
    #cnt6 .cloud_2 img:nth-of-type(2) {
      top: 30%;
      left: 20%; }
    #cnt6 .cloud_2 img:nth-of-type(3) {
      top: 60%;
      left: 50%; }
    #cnt6 .cloud_2 img:nth-of-type(4) {
      top: 90%;
      left: 50%; }
    #cnt6 .cloud_2 img:nth-of-type(odd) {
      -webkit-animation: cup 3s linear infinite;
      -moz-animation: cup 3s linear infinite;
      -o-animation: cup 3s linear infinite;
      animation: cup 3s linear infinite; }
    #cnt6 .cloud_2 img:nth-of-type(even) {
      -webkit-animation: cdown 3s linear infinite;
      -moz-animation: cdown 3s linear infinite;
      -o-animation: cdown 3s linear infinite;
      animation: cdown 3s linear infinite; }
  #cnt6 .cloud_3 {
    height: 25%;
    width: 100%; }
    #cnt6 .cloud_3 img:nth-of-type(1) {
      top: 15%;
      left: 10%; }
    #cnt6 .cloud_3 img:nth-of-type(2) {
      top: 30%;
      left: 50%; }
    #cnt6 .cloud_3 img:nth-of-type(3) {
      top: 40%;
      left: 30%; }
    #cnt6 .cloud_3 img:nth-of-type(4) {
      top: 70%;
      left: 30%; }
    #cnt6 .cloud_3 img:nth-of-type(odd) {
      -webkit-animation: cup 3s linear infinite;
      -moz-animation: cup 3s linear infinite;
      -o-animation: cup 3s linear infinite;
      animation: cup 3s linear infinite; }
    #cnt6 .cloud_3 img:nth-of-type(even) {
      -webkit-animation: cdown 3s linear infinite;
      -moz-animation: cdown 3s linear infinite;
      -o-animation: cdown 3s linear infinite;
      animation: cdown 3s linear infinite; }
  #cnt6 .plane {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
    -webkit-animation: plane 5s linear infinite;
    -moz-animation: plane 5s linear infinite;
    -o-animation: plane 5s linear infinite;
    animation: plane 5s linear infinite; }
  #cnt6 .linkcloud {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    #cnt6 .linkcloud li {
      position: absolute;
      width: 30%;
      height: 5%;
      -webkit-animation: linkcloud 2s linear infinite;
      -moz-animation: linkcloud 2s linear infinite;
      -o-animation: linkcloud 2s linear infinite;
      animation: linkcloud 2s linear infinite; }
      #cnt6 .linkcloud li .detail {
        font-size: 0rem;
        transition: all 2s; }
    #cnt6 .linkcloud li:hover .detail {
      font-size: 4rem;
      color: #666;
      text-align: center; }
    #cnt6 .linkcloud li:nth-of-type(1) {
      top: 15%;
      left: 10%; }
    #cnt6 .linkcloud li:nth-of-type(2) {
      top: 30%;
      left: 70%; }
    #cnt6 .linkcloud li:nth-of-type(3) {
      top: 60%;
      left: 10%; }
    #cnt6 .linkcloud li:nth-of-type(4) {
      top: 80%;
      left: 70%; }
  #cnt6 #dim, #cnt6 .modal_cnt {
    position: fixed;
    z-index: 1000;
    width: 90vw;
    height: 1000px; }
  #cnt6 #dim {
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5); }
  #cnt6 .modal_cnt {
    visibility: hidden;
    background: #fff; }
  #cnt6 #modal1 {
    width: 80%;
    height: 80%;
    color: #666;
    font-size: 4rem;
    overflow: auto; }
    #cnt6 #modal1 #tit1 {
      text-align: center; }
    #cnt6 #modal1 img {
      width: 100%;
      top: 20%;
      left: 0;
      display: none; }
    #cnt6 #modal1 img:nth-of-type(1) {
      display: block; }
    #cnt6 #modal1 .etc {
      text-align: center; }
      #cnt6 #modal1 .etc h3 {
        float: left;
        padding-left: 1rem;
        font-size: 3rem; }
      #cnt6 #modal1 .etc a {
        cursor: pointer;
        padding-right: 1rem;
        font-size: 2rem;
        font-weight: 600;
        line-height: 4rem;
        float: right; }
        #cnt6 #modal1 .etc a:hover {
          text-decoration: underline; }
  #cnt6 #modal2 {
    width: 80%;
    height: 80%;
    color: #666;
    font-size: 3rem;
    overflow: auto; }
    #cnt6 #modal2 #tit1 {
      text-align: center; }
    #cnt6 #modal2 img {
      width: 100%;
      top: 20%;
      left: 0;
      display: none; }
    #cnt6 #modal2 video {
      width: 100%;
      top: 20%;
      left: 0; }
    #cnt6 #modal2 .etc {
      text-align: center; }
      #cnt6 #modal2 .etc h3 {
        float: left;
        padding-left: 1rem;
        font-size: 3rem; }
      #cnt6 #modal2 .etc a {
        cursor: pointer;
        padding-right: 1rem;
        font-size: 2rem;
        font-weight: 600;
        line-height: 4rem;
        float: right; }
        #cnt6 #modal2 .etc a:hover {
          text-decoration: underline; }
  #cnt6 #modal3 {
    width: 80%;
    height: 80%;
    color: #666;
    font-size: 3rem;
    overflow: auto; }
    #cnt6 #modal3 #tit1 {
      text-align: center; }
    #cnt6 #modal3 img {
      width: 100%;
      top: 20%;
      left: 0;
      display: none; }
    #cnt6 #modal3 video {
      position: absolute;
      left: 0;
      top: 15%; }
    #cnt6 #modal3 .etc {
      text-align: center; }
      #cnt6 #modal3 .etc h3 {
        float: left;
        padding-left: 1rem;
        font-size: 3rem; }
      #cnt6 #modal3 .etc a {
        cursor: pointer;
        padding-right: 1rem;
        font-size: 2rem;
        font-weight: 600;
        line-height: 4rem;
        float: right; }
        #cnt6 #modal3 .etc a:hover {
          text-decoration: underline; }
  #cnt6 .modal_cnt .close_btn {
    position: fixed;
    top: 10%;
    right: 5%;
    width: 4em;
    height: 4em;
    color: #fff; }
    #cnt6 .modal_cnt .close_btn .line {
      position: absolute;
      left: 0;
      width: 100%;
      height: 4px;
      background: #666; }
    #cnt6 .modal_cnt .close_btn .top {
      top: 0;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
    #cnt6 .modal_cnt .close_btn .btm {
      top: 0;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }

@-webkit-keyframes cup {
  0% {
    transform: translateX(0em) translateY(0em); }
  15% {
    transform: translateX(1em) translateY(1em); }
  30% {
    transform: translateX(1em) translateY(2em); }
  45% {
    transform: translateX(1em) translateY(3em); }
  60% {
    transform: translateX(1em) translateY(2em); }
  75% {
    transform: translateX(1em) translateY(1em); }
  100% {
    transform: translateX(0em) translateY(0em); } }
@-moz-keyframes cup {
  0% {
    transform: translateX(0em) translateY(0em); }
  15% {
    transform: translateX(1em) translateY(1em); }
  30% {
    transform: translateX(1em) translateY(2em); }
  45% {
    transform: translateX(1em) translateY(3em); }
  60% {
    transform: translateX(1em) translateY(2em); }
  75% {
    transform: translateX(1em) translateY(1em); }
  100% {
    transform: translateX(0em) translateY(0em); } }
@keyframes cup {
  0% {
    transform: translateX(0em) translateY(0em); }
  15% {
    transform: translateX(1em) translateY(1em); }
  30% {
    transform: translateX(1em) translateY(2em); }
  45% {
    transform: translateX(1em) translateY(3em); }
  60% {
    transform: translateX(1em) translateY(2em); }
  75% {
    transform: translateX(1em) translateY(1em); }
  100% {
    transform: translateX(0em) translateY(0em); } }
@-webkit-keyframes cdown {
  0% {
    transform: translateX(0em) translateY(1em); }
  15% {
    transform: translateX(1em) translateY(1em); }
  30% {
    transform: translateX(2em) translateY(1em); }
  45% {
    transform: translateX(3em) translateY(1em); }
  60% {
    transform: translateX(2em) translateY(1em); }
  75% {
    transform: translateX(1em) translateY(1em); }
  100% {
    transform: translateX(0em) translateY(1em); } }
@-moz-keyframes cdown {
  0% {
    transform: translateX(0em) translateY(1em); }
  15% {
    transform: translateX(1em) translateY(1em); }
  30% {
    transform: translateX(2em) translateY(1em); }
  45% {
    transform: translateX(3em) translateY(1em); }
  60% {
    transform: translateX(2em) translateY(1em); }
  75% {
    transform: translateX(1em) translateY(1em); }
  100% {
    transform: translateX(0em) translateY(1em); } }
@keyframes cdown {
  0% {
    transform: translateX(0em) translateY(1em); }
  15% {
    transform: translateX(1em) translateY(1em); }
  30% {
    transform: translateX(2em) translateY(1em); }
  45% {
    transform: translateX(3em) translateY(1em); }
  60% {
    transform: translateX(2em) translateY(1em); }
  75% {
    transform: translateX(1em) translateY(1em); }
  100% {
    transform: translateX(0em) translateY(1em); } }
@-webkit-keyframes plane {
  0% {
    transform: translateX(0em) translateY(0em) rotate(0deg); }
  25% {
    transform: translateX(25em) translateY(25em) rotate(20deg); }
  50% {
    transform: translateX(50em) translateY(50em) rotate(10deg); }
  75% {
    transform: translateX(75em) translateY(75em) rotate(0deg); }
  100% {
    transform: translateX(115em) translateY(115em) rotate(0deg); } }
@-moz-keyframes plane {
  0% {
    transform: translateX(0em) translateY(0em) rotate(0deg); }
  25% {
    transform: translateX(25em) translateY(25em) rotate(20deg); }
  50% {
    transform: translateX(50em) translateY(50em) rotate(10deg); }
  75% {
    transform: translateX(75em) translateY(75em) rotate(0deg); }
  100% {
    transform: translateX(115em) translateY(115em) rotate(0deg); } }
@keyframes plane {
  0% {
    transform: translateX(0em) translateY(0em) rotate(0deg); }
  25% {
    transform: translateX(25em) translateY(25em) rotate(20deg); }
  50% {
    transform: translateX(50em) translateY(50em) rotate(10deg); }
  75% {
    transform: translateX(75em) translateY(75em) rotate(0deg); }
  100% {
    transform: translateX(115em) translateY(115em) rotate(0deg); } }
@-webkit-keyframes linkcloud {
  0% {
    transform: rotate(0deg); }
  35% {
    transform: rotate(5deg); }
  35% {
    transform: rotate(0deg) translateY(5em); }
  70% {
    transform: rotate(-5deg); }
  0% {
    transform: rotate(0deg); } }
@-moz-keyframes linkcloud {
  0% {
    transform: rotate(0deg); }
  35% {
    transform: rotate(5deg); }
  35% {
    transform: rotate(0deg) translateY(5em); }
  70% {
    transform: rotate(-5deg); }
  0% {
    transform: rotate(0deg); } }
@keyframes linkcloud {
  0% {
    transform: rotate(0deg); }
  35% {
    transform: rotate(5deg); }
  35% {
    transform: rotate(0deg) translateY(5em); }
  70% {
    transform: rotate(-5deg); }
  0% {
    transform: rotate(0deg); } }
/* cnt7 */
#cnt7 {
  background: linear-gradient(to bottom, #ffe6b9, #ffffff);
  width: 100%;
  height: 1500px; }
  #cnt7 h3 {
    position: absolute;
    bottom: 20rem;
    left: 20%;
    font-size: 5rem;
    color: #756a54; }
  #cnt7 .wave {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; }
    #cnt7 .wave img:nth-of-type(1) {
      position: absolute;
      bottom: -20rem;
      -webkit-animation: wave1 4s linear infinite;
      -moz-animation: wave1 4s linear infinite;
      -o-animation: wave1 4s linear infinite;
      animation: wave1 4s linear infinite;
      z-index: 1; }
    #cnt7 .wave img:nth-of-type(2) {
      position: absolute;
      bottom: -10rem;
      z-index: 2;
      -webkit-animation: wave1 2s linear infinite;
      -moz-animation: wave1 2s linear infinite;
      -o-animation: wave1 2s linear infinite;
      animation: wave1 2s linear infinite; }
    #cnt7 .wave img:nth-of-type(3) {
      position: absolute;
      top: 40%;
      left: 20%; }
  #cnt7 .sandal img {
    top: 0;
    left: 20%; }

@-webkit-keyframes wave1 {
  0% {
    transform: translateY(0em); }
  35% {
    transform: translateY(5em); }
  70% {
    transform: translateY(-5em); }
  0% {
    transform: translateY(0em); } }
@-moz-keyframes wave1 {
  0% {
    transform: translateY(0em); }
  35% {
    transform: translateY(5em); }
  70% {
    transform: translateY(-5em); }
  0% {
    transform: translateY(0em); } }
@keyframes wave1 {
  0% {
    transform: translateY(0em); }
  35% {
    transform: translateY(5em); }
  70% {
    transform: translateY(-5em); }
  0% {
    transform: translateY(0em); } }
@media all and (max-width: 1760px) {
  .byline {
    font-size: 4rem;
    left: 32%; }

  /*#cnt4-1{right: 10%;
      li:nth-of-type(2){right: 25em;}
  } */
  #cnt5 .bigstudio {
    right: 0; }

  #cnt5 .smallstudio {
    left: 0; }

  .etc h3 {
    font-size: 3rem; }
  .etc a {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 3rem;
    padding-right: 1rem; }
    .etc a:hover {
      text-decoration: underline; } }
@media all and (max-width: 1580px) {
  .byline {
    font-size: 4rem; }

  /*#cnt4 #cnt4-1{right: -15em;
      li:nth-of-type(1){left: 0;}
      li:nth-of-type(2){right: 52%;}
  } */
  #cnt5 .bigstudio {
    width: 70%; }

  #cnt5 .smallstudio {
    width: 30%; }

  .cloud_1 img:nth-of-type(1) {
    top: 15%;
    right: 0; }
  .cloud_1 img:nth-of-type(2) {
    top: 40%;
    left: 0; }
  .cloud_1 img:nth-of-type(3) {
    top: 60%;
    left: 20%; }
  .cloud_1 img:nth-of-type(4) {
    top: 80%;
    left: 40%; }

  .cloud_2 {
    height: 50%;
    width: 100%; }
    .cloud_2 img:nth-of-type(1) {
      top: 15%;
      left: 0; }
    .cloud_2 img:nth-of-type(2) {
      top: 30%;
      left: 20%; }
    .cloud_2 img:nth-of-type(3) {
      top: 60%;
      left: 30%; }
    .cloud_2 img:nth-of-type(4) {
      top: 90%;
      left: 60%; }

  .cloud_3 {
    height: 25%;
    width: 100%; }
    .cloud_3 img:nth-of-type(1) {
      top: 15%;
      left: 60%; }
    .cloud_3 img:nth-of-type(2) {
      top: 30%;
      left: 0; }
    .cloud_3 img:nth-of-type(3) {
      top: 40%;
      left: 20%; }
    .cloud_3 img:nth-of-type(4) {
      top: 70%;
      left: 30%; } }
@media all and (max-width: 1480px) {
  .cnt1_1 {
    right: 0;
    width: 100%; }

  #content #cnt1 .cnt1_1 .portfolio {
    top: 20%;
    width: 80%;
    left: 25%; }

  .foryou {
    width: 80%;
    left: 25%; }

  .byline {
    font-size: 3.2rem;
    top: 43%;
    left: 35%;
    text-align: right; }

  /*  #cnt4 #cnt4-1{ left: 30%;
       li:nth-of-type(2){right: 50%;}} */
  #content #cnt6 .modal_cnt .etc h3 {
    font-size: 2.5rem; }
  #content #cnt6 .modal_cnt .etc a {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2.5rem;
    padding-right: 1rem;
    padding-top: 0.5rem; }
    #content #cnt6 .modal_cnt .etc a:hover {
      text-decoration: underline; } }
@media all and (max-width: 1260px) {
  #content #cnt1 .cnt1_1 .portfolio {
    top: 20%;
    width: 80%;
    left: 20%; }

  #content #cnt1 .cnt1_1 .foryou {
    width: 80%;
    left: 20%;
    top: 40%; }

  .byline {
    font-size: 2.5rem;
    top: 60%;
    left: 37%;
    text-align: center; }

  #content #cnt2 h2 {
    font-size: 5rem;
    line-height: 5rem; }

  #content #cnt2 .moon {
    width: 50%;
    opacity: .7; }

  #content #cnt2 .moonshadow1, #content #cnt2 .moonshadow2, #content #cnt2 .moonshadow3 {
    width: 30%;
    bottom: 3%; }

  #cnt5 .bigstudio {
    display: none; }

  #content #cnt5 .smallstudio {
    width: 80%;
    left: 10%; }
    #content #cnt5 .smallstudio .ss-title li {
      top: 2rem; }
      #content #cnt5 .smallstudio .ss-title li h3 {
        font-size: 5rem;
        padding: 30px 0; }
      #content #cnt5 .smallstudio .ss-title li p {
        font-size: 4rem;
        line-height: 5rem; }
    #content #cnt5 .smallstudio .ss-button li:nth-of-type(1) {
      left: 5%;
      text-align: center; }
    #content #cnt5 .smallstudio .ss-button li:nth-of-type(2) {
      left: 25%;
      text-align: center; }
    #content #cnt5 .smallstudio .ss-button li:nth-of-type(3) {
      left: 45%;
      text-align: center; }
    #content #cnt5 .smallstudio .ss-button li:nth-of-type(4) {
      left: 65%;
      text-align: center; }
    #content #cnt5 .smallstudio .ss-button li:nth-of-type(5) {
      right: 5%;
      text-align: center; }

  /* #content #cnt4 #cnt4-1{bottom: 10%} */
  #content #cnt6 .modal_cnt .etc h3 {
    font-size: 2.5rem; }
  #content #cnt6 .modal_cnt .etc a {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 2.5rem;
    padding-right: 1rem;
    padding-top: 0.5rem; }
    #content #cnt6 .modal_cnt .etc a:hover {
      text-decoration: underline; }

  #content #cnt6 .linkcloud li:nth-of-type(1) {
    left: 10%; }
  #content #cnt6 .linkcloud li:nth-of-type(2) {
    left: 40%; }
  #content #cnt6 .linkcloud li:nth-of-type(3) {
    left: 10%; }
  #content #cnt6 .linkcloud li:nth-of-type(4) {
    left: 40%; }

  #content #cnt6 .cloud_1 img:nth-of-type(1) {
    right: 0; }
  #content #cnt6 .cloud_1 img:nth-of-type(2) {
    left: 0; }
  #content #cnt6 .cloud_1 img:nth-of-type(3) {
    left: 20%; }
  #content #cnt6 .cloud_1 img:nth-of-type(4) {
    left: 30%; }

  #content #cnt6 .cloud_2 {
    height: 50%;
    width: 100%; }
    #content #cnt6 .cloud_2 img:nth-of-type(1) {
      left: 0; }
    #content #cnt6 .cloud_2 img:nth-of-type(2) {
      left: 10%; }
    #content #cnt6 .cloud_2 img:nth-of-type(3) {
      left: 40%; }
    #content #cnt6 .cloud_2 img:nth-of-type(4) {
      left: 50%; }

  #content #cnt6 .cloud_3 {
    height: 25%;
    width: 100%; }
    #content #cnt6 .cloud_3 img:nth-of-type(1) {
      left: 50%; }
    #content #cnt6 .cloud_3 img:nth-of-type(2) {
      left: 0; }
    #content #cnt6 .cloud_3 img:nth-of-type(3) {
      left: 10%; }
    #content #cnt6 .cloud_3 img:nth-of-type(4) {
      left: 20%; } }
@media all and (max-width: 1100px) {
  #content #cnt2 .moonshadow1, #content #cnt2 .moonshadow2, #content #cnt2 .moonshadow3 {
    bottom: 4%; }

  #content #cnt7 .wave img:nth-of-type(1) {
    position: absolute;
    bottom: -10rem;
    -webkit-animation: wave1 4s linear infinite;
    -moz-animation: wave1 4s linear infinite;
    -o-animation: wave1 4s linear infinite;
    animation: wave1 4s linear infinite;
    z-index: 1; }
  #content #cnt7 .wave img:nth-of-type(2) {
    position: absolute;
    bottom: -10rem;
    z-index: 2;
    -webkit-animation: wave1 2s linear infinite;
    -moz-animation: wave1 2s linear infinite;
    -o-animation: wave1 2s linear infinite;
    animation: wave1 2s linear infinite; } }
@media all and (max-width: 1000px) {
  #content #cnt2 .moonshadow1, #content #cnt2 .moonshadow2, #content #cnt2 .moonshadow3 {
    bottom: 5%; }

  #content #cnt6 .modal_cnt .etc h3 {
    font-size: 2.5rem; }
  #content #cnt6 .modal_cnt .etc a {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2.5rem;
    padding-right: 1rem;
    padding-top: 0.5rem; }
    #content #cnt6 .modal_cnt .etc a:hover {
      text-decoration: underline; } }
@media all and (max-width: 980px) {
  #content > #cnt4 > h3, #content > #cnt5 > h3, #content > #cnt6 > h3 {
    position: absolute;
    left: 20%;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    float: none; }

  #content #cnt3 #main-ctr h1 {
    font-size: 3rem; }

  .para {
    display: none; }

  #content #cnt2 .moonshadow1, #content #cnt2 .moonshadow2, #content #cnt2 .moonshadow3 {
    width: 30%;
    bottom: 6%; }

  #content #cnt4 #cnt4-2 .cntwrap {
    height: 80vh; }
    #content #cnt4 #cnt4-2 .cntwrap.fix > ul {
      position: relative;
      top: 80%;
      margin-top: -300px;
      margin-left: 0;
      width: validate;
      height: 600px; }
      #content #cnt4 #cnt4-2 .cntwrap.fix > ul > li {
        float: left;
        width: 400px;
        height: 600px;
        line-height: 600px; }
        #content #cnt4 #cnt4-2 .cntwrap.fix > ul > li h3 {
          font-size: 5rem;
          left: 10%; }
        #content #cnt4 #cnt4-2 .cntwrap.fix > ul > li p {
          font-size: 3rem;
          left: 40%; }

  #content #cnt6 #modal1 .etc a {
    font-size: 1rem;
    padding-right: 0.3rem; } }
@media all and (max-width: 760px) {
  #content > #cnt4 > h3, #content > #cnt5 > h3, #content > #cnt6 > h3 {
    left: 30%; }

  #content #cnt3 #main-ctr h1 {
    font-size: 2.5rem; }

  #content #cnt5 .smallstudio {
    width: 90%;
    left: 5%; }
    #content #cnt5 .smallstudio .ss-title li {
      top: 5rem; }
      #content #cnt5 .smallstudio .ss-title li h3 {
        font-size: 4rem;
        padding: 30px 0; }
      #content #cnt5 .smallstudio .ss-title li p {
        font-size: 3rem;
        line-height: 4rem; }

  #content #cnt6 .modal_cnt .etc #tit1 {
    width: 100%;
    text-align: left; }
  #content #cnt6 .modal_cnt .etc a {
    font-size: 1.2rem;
    padding: 0 0.5rem;
    text-align: center; }

  #content #cnt6 .cloud .linkcloud li:nth-of-type(1) {
    left: 5%; }
  #content #cnt6 .cloud .linkcloud li:nth-of-type(2) {
    left: 30%; }
  #content #cnt6 .cloud .linkcloud li:nth-of-type(3) {
    left: 5%; }
  #content #cnt6 .cloud .linkcloud li:nth-of-type(4) {
    left: 30%; }

  #content #cnt6 .cloud .cloud_1, #content #cnt6 .cloud .cloud_2, #content #cnt6 .cloud .cloud_3 {
    width: 60%; }

  #content #cnt7 .wave img:nth-of-type(1) {
    bottom: -5rem; }
  #content #cnt7 .wave img:nth-of-type(2) {
    bottom: -5rem; }
  #content #cnt7 .wave img:nth-of-type(3) {
    width: 70%;
    top: 60%; }

  #content #cnt6 .linkcloud li {
    width: 60%;
    height: 10%; } }
@media all and (max-width: 640px) {
  #content #cnt6 .modal_cnt {
    width: 95%; }
    #content #cnt6 .modal_cnt .etc #tit1 {
      width: 100%;
      text-align: left; }
    #content #cnt6 .modal_cnt .etc a {
      font-size: 1rem;
      padding-right: 0.5rem;
      text-align: right; }

  #content #cnt3 #main-ctr h1 {
    font-size: 2rem; }

  #content #cnt2 #moon .moon {
    width: 40%;
    bottom: 16%; }

  #content #cnt2 .moonshadow1, #content #cnt2 .moonshadow2, #content #cnt2 .moonshadow3 {
    bottom: 11%;
    width: 30%; }

  #content #cnt7 h3 {
    bottom: 10rem;
    font-size: 4rem; } }
@media all and (max-width: 480px) {
  #content #cnt7 h3 {
    font-size: 3rem; }

  #content #cnt7 .wave img:nth-of-type(1) {
    bottom: -4rem; }
  #content #cnt7 .wave img:nth-of-type(2) {
    bottom: -4rem; } }
/* @media screen and (orientation: portrait) {
    //모바일 기기의 회전 속성 : portrait(세로 길게)
}
@media screen and (orientation: landscape) {
    //모바일 기기의 회전 속성 : landscape(가로 길게)
} */

/*# sourceMappingURL=index.css.map */
