@charset "utf-8";
@import "_var", "_mixin";
/* 폰트 설정 */
font-face{
font-family:star;
font-weight: 400;
src: url("../font/Starjedi.otf.eot");
src:local("※"),
     url("../font/Starjedi.woff") format("woff"),
     url("../font/Starjedi.otf") format("opentype");
}

font-face{
    font-family:smile;
    font-weight: 400;
    src: url("../font/BinggraeMelonaA1.eot");
    src: local("※"),
        url("../font/BinggraeMelonaA1.woff2") format("woff2"),
        url("../font/BinggraeMelona.woff") format("woff"),
        url("../font/BinggraeMelona.otf") format("opentype");
}

font-face{
    font-family:smile;
    font-weight:600;
    src: url("../font/BinggraeMelona-BoldA1.eot");
    src: local("※"),
        url("../font/BinggraeMelona-BoldA1.woff2") format("woff2"),
        url("../font/BinggraeMelona-Bold.woff") format("woff"),
        url("../font/BinggraeMelona.otf") format("opentype");
}

/* tagreset */
*{margin:0;padding:0;}
h1, h2, h3, h4{font-size: 100%;}
ul, li{list-style: none;}
a:link, a:visited, a:hover, a:active{text-decoration: none;color: inherit;}
img{vertical-align: top;border: none;max-width: 100%;}
address{font-style: normal;}
button{border: none;background: none;cursor:pointer;}
header, nav , section, article, footer{display: block;}

/* common class */
.p_r{position: relative;}
.p_a{position: absolute;}
.f_l{float: left;}
.f_r{float: right;}
.clearfix:after{content: "";display: block;clear: both;}
.sr-only{position: absolute;top: 0;left: -9999px;}
body{width: 100%;margin: 0 auto;font-family: smile;font-weight: 400;font-size: 16px;}
.area{width: 100%;height: 100%;}
/* skip  */
#skip a{position:absolute;top: 0;left: -9999px;z-index: 1000;}
#skip a:focus{left: 0;width: 100%;text-align: center;height: 3rem;line-height: 3rem;background: #000;color: #fff;font-size:1.5rem}

/* header */
#header{
    @include transition(all 0.6s);
    position: fixed;top: 0;left: 0;right: 0;height: 56px;border-bottom: 1px solid transparent;z-index: 2000;
    .btn_menu.active .line{background: #fff !important;}
}
.btn_menu{
    &, .line{position: absolute;}
    top: 1vw;right: 1vw;width: 4vw;height: 2vw;z-index: 3000;
    .line{
        @include radius(8px);
        @include transition(all 0.5s);
        width: 100%;height: 4px;background: #fff;left: 0;
        &.top{top: 0;}
        &.mid{top: 1.5vw;}
        &.btm{top: 3vw;}
    }
    &.active{
        .top{
            @include transform(rotate(45deg));
            top: 10px;
        }
        .mid{opacity: 0;}
        .btm{
            @include transform(rotate(-45deg));
            top: 10px;
        }
    }
}
#gnb{
    visibility: hidden;position: fixed;top: 0;left: 100%;width: 50%;height: 100%;background: #ffcccc url("../images/common/foot.png") no-repeat bottom;@include bgcover(cover);padding-top: 56px;overflow-y: auto;
    ul li a{
        display: block;font-size: 4vw;height: 4vw;line-height: 4vw;color: #666;text-align: center;padding: 2vw;
        &:focus{outline: 1px dashed gray;}
    }
}

  
/* cnt1 */
#content{width: 100%;height: 100%;color: #fff;overflow: hidden;}
#cnt1{position: relative;height: 1080px;width: 100%;background-image: url("../images/cnt1/bg.png");
.cnt1_1{position: relative;top: 20%;left: 0;width: 100%;text-align: center;height: 50%;}
}
.portfolio {top: 5%;left: 50%;@include transform(translateX(-50%));@include animation(star 4s ease-out);}
.foryou {top: 55%;left: 50%;@include transform(translateX(-50%));@include animation(wars 4s ease-out);}
.byline {font-family: star;top: 37%;left: 50%;@include transform(translateX(-50%));@include animation(move-byline 4s linear);font-size: 5rem;
span {display: inline-block;@include animation(spin-letters 4s linear);}}

@include keyframes(star) {0% {opacity: 0;transform: scale(1.5) translateY(-0.75em);}
    20% {opacity: 1;}
    89% {opacity: 1;transform: scale(1);}
    100% {opacity: 0;transform: translateZ(-1000em);}}
@include keyframes(wars) {
    0% {opacity: 0;transform: scale(1.5) translateY(0.5em);}
    20% {opacity: 1;}
    90% {opacity: 1;transform: scale(1);}
    100% {opacity: 0;transform: translateZ(-1000em);}
}
@include keyframes(spin-letters) {
    0%, 10% {opacity: 0;transform: rotateY(90deg);}
    30% {opacity: 1;}
    70%, 86% {transform: rotateY(0);opacity: 1;}
    95%, 100% {opacity: 0;}
}
@include keyframes(move-byline) {
    0% {transform: translateZ(5em);}
    100% {transform: translateZ(0);}
  }

/* cnt2 */

#cnt2{
    width: 100%;height: 2050px;background-image: url("../images/cnt2/bg.png"); overflow: hidden;z-index: -1;
    .moon{bottom: 12%;right: -10%;z-index: 1;}
    h2{bottom: 15%;left: 3%;color: #ffff99;font-family: smile;font-weight: 600;font-size: 7.5rem;line-height: 7.5rem;}
}
.cloud{bottom: 20%;left: -10%;z-index: 0;@include animation(cloud 50s linear infinite);}
@include keyframes(cloud){
    0%{opacity: .7;transform: translateX(0em);}
    25%{opacity: .8;transform: translateX(3em);}
    50%{opacity: 1;transform: translateX(5em);}
    75%{opacity: .8;transform: translateX(3em);}
    100%{opacity: .6;transform: translateX(0em);}
}
.moonshadow1{bottom: -2%;right: 0;@include animation(moonshadow1 4s linear infinite);}
@include keyframes(moonshadow1){
    0%{opacity: 1;transform: translateY(0em);}
    15%{transform: translateY(0.5em);}
    30%{transform: translateY(1em);}
    45%{opacity: .2;transform: translateY(0.5em);}
    60%{transform: translateY(1em);}
    70%{transform: translateY(0.5em);}
    100%{opacity: 1;transform: translateY(0em);}
}
.moonshadow2{bottom: -2%;right: 0;opacity: .7 ;@include animation(moonshadow2 4s linear infinite);}
@include keyframes(moonshadow2){
    0%{opacity: 1;transform: translateX(0em);}
    15%{transform: translateX(1em);}
    30%{transform: translateX(0em);}
    45%{opacity: .2;transform: translateX(1em);}
    60%{transform: translateX(0em);}
    70%{transform: translateX(1em);}
    100%{opacity: 1;transform: translateX(0em);}
}
.moonshadow3{bottom: -1%;right: 0;opacity: .6 ;@include animation(moonshadow2 6s linear infinite);}
.star1{top: 15%;right: 0;z-index: -1;@include animation(star1 2s linear infinite);}
.star2{top: 0;right: 0;z-index: -1;@include animation(star2 3s linear infinite);}
@include keyframes(star1){
    0%{opacity: 0;transform: translateX(0em) translatey(0em);}
    10%{transform: translateX(-10em) translatey(10em);}
    20%{transform: translateX(-20em) translatey(20em);}
    30%{opacity: .2;transform: translateX(-30em) translatey(30em) ;}
    40%{transform: translateX(-40em) translatey(40em);}
    50%{transform: translateX(-50em) translatey(50em);}
    60%{opacity: .1;transform: translateX(-60em) translatey(60em);}
    70%{transform: translateX(-70em) translatey(70em);}
    80%{transform: translateX(-80em) translatey(80em);}
    90%{transform: translateX(-90em) translatey(90em);}
    100%{opacity: 0;transform: translateX(-100em) translatey(100em);}
}
@include keyframes(star2){
    0%{opacity: 0;transform: translateX(0em) translatey(0em);}
    50%{opacity: .3;transform: translateX(-100em) translatey(50em);}
    100%{opacity: 0;transform: translateX(-200em) translatey(100em);}
}

/* cnt3 */
#cnt3{
    width: 100%;height: 1500px;position: relative;
    display: table;background: #3161c1 url("../images/cnt4/cloud2.png") no-repeat center bottom;/* @include bgcover(cover); */background-size:100% auto;
    >div{position: absolute;top: 10%;}
    .hello {
        color: white;
        letter-spacing: 2px;
        font-size: 4rem;
        font-family: "smile";
        font-weight: 600;
      }
      
      #main-ctr {
        left: 50%;@include transform(translateX(-50%));
        display: table-cell;
        vertical-align: middle;
        text-align: center;
      }
      
      .content {
        border: 1px solid black;
        display: inline-block;
        position: relative;
      }
      svg {
        @include transform(scale(.9));
        #smile-up,
        #circle,
        #eye-to-left,
        #eye-to-right,
        #wink,
        #bg {
          visibility: hidden;
        }
      }
}

/* cnt4 */
#cnt4{
    background: linear-gradient(#3161c1,#ffcccc);
    position: relative;z-index: -2;
    h3{float:right;}
    #cnt4-1{position: fixed;bottom: 25%;left: 50%;@include transform(translateX(-50%));@include animation(bloom 10s alternate infinite);margin-left: -250px;
        li:nth-of-type(1){@include transform(scale(.8));}
        li:nth-of-type(2){position: absolute;top: 47%;left: 6.5rem;@include animation(fire 10s alternate infinite);z-index:-3;}
    }
    .para{padding-left: 10%;}  
}
@include keyframes(bloom){
    0%{opacity: .8;transform: translateY(5em);}
    25%{opacity: 1;transform: translateY(-1em);}
    50%{opacity: .8;transform: translateY(5em);}
    75%{opacity: 1;transform: translateY(-1em);}
    100%{opacity: .8;transform: translateY(5em);}
}
@include keyframes(fire){
    0%{opacity: .3;transform: translateY(1em) translateX(0.5em) scale(.2);}
    25%{opacity: 1;transform: translateY(0em) translateX(0em) scale(.3);}
    50%{opacity: .3;transform: translateX(-0.5em) translateY(1em) scale(.2);}
    75%{opacity: 1;transform: translateX(0em) translateY(0em) scale(.3);}
    100%{opacity: .3;transform: translateY(1em) translateX(0.5em) scale(.2);}
}

#cnt4-2{
    width: 100%;overflow-x: hidden;
    >img{@include animation(fire 10s alternate infinite);}
    .cntwrap{position:relative;top: 0;left: 0;height: 100vh;width:auto;
        &.fix{position: fixed;}
        > ul{position:relative;top:80%;margin-top: -300px;margin-left: 0;width: validate;height: 600px;
            > li{float:left;width: 700px;height: 600px;line-height: 600px;
                h3{font-size: 7rem;}
                p{font-size: 4rem;}
                img{@include animation(cloud 6s linear infinite);}
            }
            li:nth-of-type(3),li:nth-of-type(4), li:nth-of-type(5){h3{font-size: 15rem;}}
            li:nth-of-type(5){background: url("../images/cnt4/lyric.png") no-repeat center 65%;}
            li:nth-of-type(6){background: url("../images/cnt4/lyric1.png") no-repeat center 65%;position: relative;
            div{position: absolute;top: -7rem;left: 5rem;
                p{position: absolute;top: 5rem; left: 10rem;}
            }
            }
            li:nth-of-type(7){
                background: url("../images/cnt4/lyric2.png") no-repeat center 65%;position: relative;
                div{position: absolute;top: 5rem;left: 50%;
                    p{position: absolute;top: -5rem; left: 5rem;}
                }
            }
            li:nth-of-type(8){
            background: url("../images/cnt4/lyric1.png") no-repeat center 65%;position: relative;
                div{position: absolute;top: -2rem;left: 20%;
                    p{position: absolute;top: 8rem; left: 10rem;}
                }
            }
            li:nth-of-type(9){
                background: url("../images/cnt4/lyric2.png") no-repeat center 65%;
                position: relative;
                div{position: absolute;top: -1rem;left: 70%;
                    p{position: absolute;top: 6rem; left: 12rem;}
                }
            }
            li:nth-of-type(10){background: url("../images/cnt4/lyric1.png") no-repeat center 65%;position: relative;
                div{position: absolute;top: 5rem;left: 60%;
                    p{position: absolute;top: -4rem; left: 8rem;}
                }
            }
            li:nth-of-type(11){background: url("../images/cnt4/lyric2.png") no-repeat center 65%;position: relative;
                div{position: absolute;top: 0;left: 20%;
                    p{position: absolute;top: 6rem; left: 8rem;}
                }
            
            }
            li:nth-of-type(12){background: url("../images/cnt4/lyric1.png") no-repeat center 65%;position: relative;
                div{position: absolute;top: -7rem;left: 0;
                    p{position: absolute;top: 6rem; left: 20rem;}
                }
            
            }
            li:nth-of-type(13){background: url("../images/cnt4/lyric2.png") no-repeat center 65%;position: relative;
                div{position: absolute;top: -3rem;left: 0;
                    p{position: absolute;top: 8rem; left: 15rem;}
                }
            
            }
            li:nth-of-type(14){background: url("../images/cnt4/lyric2.png") no-repeat center 65%;position: relative;
                div{position: absolute;bottom: 0;left: 0;
                    p{position: absolute;top: 8rem; left: 15rem;}
                }
            
            }
            li:nth-of-type(15){background: url("../images/cnt4/lyric1.png") no-repeat center 65%;position: relative;
                div{position: absolute;top: -3rem;left: 0;
                    p{position: absolute;top: 8rem; left: 15rem;}
                }
            }
            li:nth-of-type(16){background: url("../images/cnt4/lyric2.png") no-repeat center 65%;position: relative;
                div{position: absolute;bottom: 0;left: 0;
                    p{position: absolute;top: 8rem; left: 15rem;}
                }
            
            }
            li:nth-of-type(17){background: url("../images/cnt4/lyric2.png") no-repeat center 65%;position: relative;
                div{position: absolute;bottom: 0;left: 0;
                    p{position: absolute;top: 8rem; left: 15rem;}
                }
            
            }
            li:nth-of-type(18){background: url("../images/cnt4/lyric3.png") no-repeat center 65%;}
        }/* 가로크기는 스크립트에서도 가능함 */
    }/* 기본 relative */
    /* 가로 스크롤로 보여질 영역에서는 fixed로 고정시키기 */
}

/* cnt5 */
#cnt5{
    width: 100%;height: 2000px;position:relative;z-index: 1000;color: #FFF;background: linear-gradient(#fcc,#cff);/* background-image:url("../images/cnt5/cloud.png");   */
    .bigstudio{top: 20% ;right: 5%;width: 1183px;height: 900px;background: url("../images/cnt5/스튜디오\(빅\).png");
    li{position: absolute;
    &.choice{opacity: 1;}
    }
    .bs-big{
        li:nth-of-type(1){bottom: 0;right: 0;}
        li:nth-of-type(2){top: 30%;left: 5%;background: linear-gradient(to bottom right,#fcc,#ff99cc);border: 10px solid #fff;border-radius: 25px;}
        li:nth-of-type(3){top: 40%;left: 25%;background: linear-gradient(to bottom right,#fcc,#ff99cc);border: 10px solid #fff;border-radius: 25px;}
        li:nth-of-type(4){top: 45%;left: 43%;background: linear-gradient(to bottom right,#fcc,#ff99cc);border: 10px solid #fff;border-radius: 25px;}
        li:nth-of-type(5){top: 40%;left: 65%;background: linear-gradient(to bottom right,#fcc,#ff99cc);border: 10px solid #fff;border-radius: 25px;}
        li:nth-of-type(6){bottom: 5%;left: 5%;font-size: 1.5rem;}
    }
    .bs-small{
        li{display: none;}
        .f{display: block;@include animation(f 1s linear);}
        li:nth-of-type(1){top: 12%;left: 70%;width: 170%;}
        li:nth-of-type(2){top: 12%;left: -10%;}
        li:nth-of-type(3){top: 12%;left: 10%;}
        li:nth-of-type(4){top: 12%;left: 32%;}
        li:nth-of-type(5){top: 12%;left: 50%;}
    }
    }
    .smallstudio{top: 20% ;left: 5%;width: 428px;height: 900px;background: url("../images/cnt5/스튜디오\(작\).png");
        li{position: absolute;width: 100%;}
        .ss-title{text-align: center;
            .f{display: block;}
            li{display: none;top: 10rem;text-align: center;}
            h3{font-size: 3rem;line-height: 4rem;width: 100%;padding: 20px 0;}
            p{font-size: 2.5rem;line-height: 3rem;padding: 5px 0;}
            img{@include transform(scale(1.3));padding: 10px 0;}
        }
        .ss-button{
            li{width: 20%;}
            li:nth-of-type(1){bottom: 5%;left: 3%;}
            li:nth-of-type(2){bottom: 5%;left: 25%;}
            li:nth-of-type(3){bottom: 5%;left: 45%;}
            li:nth-of-type(4){bottom: 5%;left: 63%;}
            li:nth-of-type(5){bottom: 5%;left: 79%;}
        }
    }
}

@include keyframes (f){
    0%{opacity: .1;}
    25%{opacity: 1;}
    45%{opacity: .1;}
    60%{opacity: 1;}
    100%{opacity: .1;}
}

/* cnt6 */
#cnt6{
    width: 100%;height: 5902px;background: url("../images/cnt6/cnt6.png");overflow: hidden;
    ul{width: 100%;height: 100%;}
    .cloud{width: 100%;height: 100%;
    img{position: absolute;}
    }
    .cloud_1{height: 25%;width: 100%;
        img:nth-of-type(1){top: 15%;left: 30%;}
        img:nth-of-type(2){top: 40%;left: 40%;}
        img:nth-of-type(3){top: 60%;left: 50%;}
        img:nth-of-type(4){top: 80%;left: 70%;}
        img:nth-of-type(odd){@include animation(cup 3s linear infinite);}
    img:nth-of-type(even){@include animation(cdown 3s linear infinite);}
    }
    .cloud_2{height: 50%;width: 100%;
        img:nth-of-type(1){top: 15%;left: 70%;}
        img:nth-of-type(2){top: 30%;left: 20%;}
        img:nth-of-type(3){top: 60%;left: 50%;}
        img:nth-of-type(4){top: 90%;left: 50%;}
        img:nth-of-type(odd){@include animation(cup 3s linear infinite);}
    img:nth-of-type(even){@include animation(cdown 3s linear infinite);}
    }
    .cloud_3{height: 25%;width: 100%;
        img:nth-of-type(1){top: 15%;left: 10%;}
        img:nth-of-type(2){top: 30%;left: 50%;}
        img:nth-of-type(3){top: 40%;left: 30%;}
        img:nth-of-type(4){top: 70%;left: 30%;}
        img:nth-of-type(odd){@include animation(cup 3s linear infinite);}
    img:nth-of-type(even){@include animation(cdown 3s linear infinite);}
    }
    .plane{position: absolute;top: 0;left: 0;width: 100%;height: 30%;@include animation(plane 5s linear infinite);}
    .linkcloud{position: absolute;top: 0;left: 0;width: 100%;height: 100%;
        li{position: absolute;width: 30%;height: 5%;@include animation(linkcloud 2s linear infinite);
        .detail{font-size: 0rem;transition: all 2s;}
        }
        li:hover .detail{font-size: 4rem;color: #666;text-align: center;}
        li:nth-of-type(1){top: 15%;left: 10%;}
        li:nth-of-type(2){top: 30%;left: 70%;}
        li:nth-of-type(3){top: 60%;left: 10%;}
        li:nth-of-type(4){top: 80%;left: 70%;}
    } 
    #dim, .modal_cnt{position: fixed;z-index: 1000;width: 90vw;height:1000px;}
    #dim{display: none;width: 100%;height:100%;top: 0;left: 0;background: rgba(0,0,0, .5);}
    .modal_cnt{visibility: hidden;background: #fff;}/* ios의 voiceover에서 접근할수 있도록 display 대신 visibility */
    #modal1{width: 80%;height: 80%;color: #666;font-size: 4rem;overflow:auto;
        #tit1{text-align: center;}
    img{width: 100%;top: 20%;left: 0;display: none;}
    img:nth-of-type(1){display: block;}
        .etc{text-align: center;
            h3{float: left;padding-left: 1rem;font-size: 3rem;}
            a{cursor: pointer;padding-right: 1rem;font-size: 2rem;font-weight: 600;line-height: 4rem;float: right;
            &:hover{text-decoration: underline;}
            }
        } 
        
    }
    #modal2{width: 80%;height: 80%;color: #666;font-size: 3rem;overflow:auto;
        #tit1{text-align: center;}
    img{width: 100%;top: 20%;left: 0;display: none;}
    video{width: 100%;top: 20%;left: 0;}
        .etc{text-align: center;
            h3{float: left;padding-left: 1rem;font-size: 3rem;}
            a{cursor: pointer;padding-right: 1rem;font-size: 2rem;font-weight: 600;line-height: 4rem;float: right;
            &:hover{text-decoration: underline;}
            }
        } 
        
    }
    #modal3{width: 80%;height: 80%;color: #666;font-size: 3rem;overflow:auto;
        #tit1{text-align: center;}
    img{width: 100%;top: 20%;left: 0;display: none;}
    video{position: absolute;left: 0;top: 15%;}
        .etc{text-align: center;
            h3{float: left;padding-left: 1rem;font-size: 3rem;}
            a{cursor: pointer;padding-right: 1rem;font-size: 2rem;font-weight: 600;line-height: 4rem;float: right;
            &:hover{text-decoration: underline;}
            }
        } 
        
    }
    .modal_cnt .close_btn{position: fixed;top: 5%;left: 5%;width: 4em;height: 4em;color: #fff;
        .line{position: absolute;left: 0;width: 100%;height: 4px;background: #666;}
        .top{top: 0;@include transform(rotate(45deg));}
        .btm{top: 0;;@include transform(rotate(-45deg));}
    }
}

@include keyframes(cup){
    0%{transform:translateX(0em) translateY(0em);}
    15%{transform:translateX(1em) translateY(1em);}
    30%{transform:translateX(1em) translateY(2em);}
    45%{transform:translateX(1em) translateY(3em);}
    60%{transform:translateX(1em) translateY(2em);}
    75%{transform:translateX(1em) translateY(1em);}
    100%{transform:translateX(0em) translateY(0em);}
}
@include keyframes(cdown){
    0%{transform:translateX(0em) translateY(1em);}
    15%{transform:translateX(1em) translateY(1em);}
    30%{transform:translateX(2em) translateY(1em);}
    45%{transform:translateX(3em) translateY(1em);}
    60%{transform:translateX(2em) translateY(1em);}
    75%{transform:translateX(1em) translateY(1em);}
    100%{transform:translateX(0em) translateY(1em);}
}
@include keyframes(plane){
    0%{transform:translateX(0em) translateY(0em) rotate(0deg);}
    25%{transform:translateX(25em) translateY(25em) rotate(20deg);}
    50%{transform:translateX(50em) translateY(50em) rotate(10deg);}
    75%{transform:translateX(75em) translateY(75em) rotate(0deg);}
    100%{transform:translateX(115em) translateY(115em) rotate(0deg);}
}
@include keyframes(linkcloud){
    0%{transform:rotate(0deg);}
    35%{transform:rotate(5deg);}
    35%{transform:rotate(0deg) translateY(5em);}
    70%{transform:rotate(-5deg);}
    0%{transform:rotate(0deg);}
}

/* cnt7 */
#cnt7{background: linear-gradient(to bottom,#ffe6b9,#ffffff);width: 100%;height: 1500px;
    h3{position: absolute;bottom: 20rem;left: 20%;font-size: 5rem;color: #756a54;}
    .wave{bottom: 0;left: 0;width: 100%;height: 100%;overflow: hidden;
        img:nth-of-type(1){position: absolute;bottom: -20rem;@include animation(wave1 4s linear infinite);z-index: 1;}
        img:nth-of-type(2){position: absolute;bottom: -10rem;z-index: 2;@include animation(wave1 2s linear infinite);}
        img:nth-of-type(3){position: absolute;top: 40%;left: 20%;}
    }
    .sandal{
        img{top: 0;left: 20%;}
    }
}
@include keyframes(wave1) {
    0%{transform:translateY(0em)}
    35%{transform:translateY(5em)}
    70%{transform:translateY(-5em)}
    0%{transform:translateY(0em)}
}


//2) 1760이하
//ie9미만의 하위브라우저에서 미디어쿼리를 인식할수 있는 respond.min.js파일은 기기타입(유형)이 all 이어야 한다
@media all and (max-width: 1760px) {
     .byline {font-size: 4rem;left: 32%;}
    /*#cnt4-1{right: 10%;
        li:nth-of-type(2){right: 25em;}
    } */
    #cnt5 .bigstudio{right: 0;}
    #cnt5 .smallstudio{left: 0;}
    .etc{
        h3{font-size: 3rem;}
        a{font-size: 1.5rem;font-weight: 600;line-height: 3rem;padding-right: 1rem;
        &:hover{text-decoration: underline;}
        }
    }   
}

@media all and (max-width: 1580px) {
     .byline {font-size: 4rem;}
    /*#cnt4 #cnt4-1{right: -15em;
        li:nth-of-type(1){left: 0;}
        li:nth-of-type(2){right: 52%;}
    } */
    #cnt5 .bigstudio{width: 70%;}
    #cnt5 .smallstudio{width: 30%;}

    .cloud_1{
        img:nth-of-type(1){top: 15%;right: 0;}
        img:nth-of-type(2){top: 40%;left: 0;}
        img:nth-of-type(3){top: 60%;left: 20%;}
        img:nth-of-type(4){top: 80%;left: 40%;}
    }
    .cloud_2{height: 50%;width: 100%;
        img:nth-of-type(1){top: 15%;left: 0;}
        img:nth-of-type(2){top: 30%;left: 20%;}
        img:nth-of-type(3){top: 60%;left: 30%;}
        img:nth-of-type(4){top: 90%;left: 60%;}
    }
    .cloud_3{height: 25%;width: 100%;
        img:nth-of-type(1){top: 15%;left: 60%;}
        img:nth-of-type(2){top: 30%;left: 0;}
        img:nth-of-type(3){top: 40%;left: 20%;}
        img:nth-of-type(4){top: 70%;left: 30%;}
    }
}

//3) 1480이하
@media all and (max-width: 1480px) {
    .cnt1_1{right: 0;width: 100%;}
    #content #cnt1 .cnt1_1 .portfolio{top: 20%;width: 80%;left: 25%;}
    .foryou {width: 80%;left: 25%;}
    .byline {font-size: 3.2rem;top: 43%;left: 35%;text-align: right;}
    
   /*  #cnt4 #cnt4-1{ left: 30%;
        li:nth-of-type(2){right: 50%;}} */
    #content #cnt6 .modal_cnt .etc{
        h3{font-size: 2.5rem;}
        a{font-size: 1.5rem;font-weight: 600;line-height: 2.5rem ;padding-right: 1rem;padding-top: 0.5rem;
        &:hover{text-decoration: underline;}
        }
    }   
}

//3) 1260이하
@media all and (max-width: 1260px) {
    .btn_menu{
        &, .line{position: absolute;}
        top: 2vw;right: 2vw;width: 10vw;height: 2vw;z-index: 3000;
        .line{
            @include radius(8px);
            @include transition(all 0.5s);
            width: 100%;height: 4px;background: #fff;left: 0;
            &.top{top: 1vw;}
            &.mid{top: 4vw;}
            &.btm{top: 7vw;}
        }
        &.active{
            .top{
                @include transform(rotate(45deg));
                top: 1vw;
            }
            .mid{opacity: 0;}
            .btm{
                @include transform(rotate(-45deg));
                top: 1vw;
            }
        }
    }
    #gnb{
        visibility: hidden;position: fixed;top: 0;left: 100%;width: 50%;height: 100%;background: #ffcccc url("../images/common/foot.png") no-repeat bottom;@include bgcover(cover);padding-top: 56px;overflow-y: auto;
        ul li a{
            display: block;font-size: 6vw;height: 6vw;line-height: 8vw;color: #666;text-align: center;padding: 2vw;
            &:focus{outline: 1px dashed gray;}
        }
    }
    #content #cnt1 .cnt1_1 .portfolio{top: 20%;width: 80%;left: 20%;}
    #content #cnt1 .cnt1_1 .foryou {width: 80%;left: 20%;top: 40%;}
    .byline {font-size: 2.5rem;top: 60%;left: 37%;text-align: center;}
    #content #cnt2 h2{font-size: 5rem;line-height: 5rem;}
    #content #cnt2 .moon{width: 50%;opacity: .7;}
    #content #cnt2 .moonshadow1, #content #cnt2 .moonshadow2, #content #cnt2 .moonshadow3{width: 30%;bottom: 3%;}

    #cnt5 .bigstudio{display: none;}
    #content #cnt5 .smallstudio{width: 80%;left: 10%;
    .ss-title li{top: 2rem;
        h3{font-size: 5rem;padding: 30px 0;}
        p{font-size: 4rem;line-height: 5rem;}
    }
    .ss-button{
     li:nth-of-type(1){left: 5%;text-align: center;}
     li:nth-of-type(2){left: 25%;text-align: center;}
     li:nth-of-type(3){left: 45%;text-align: center;}
     li:nth-of-type(4){left: 65%;text-align: center;}
     li:nth-of-type(5){right: 5%;text-align: center;}
    }
    }
    /* #content #cnt4 #cnt4-1{bottom: 10%} */
    #content #cnt6 .modal_cnt .etc{
        h3{font-size: 2.5rem;}
        a{font-size: 1.3rem;font-weight: 500;line-height: 2.5rem ;padding-right: 1rem;padding-top: 0.5rem;
        &:hover{text-decoration: underline;}
        }
    }
    #content #cnt6 .linkcloud{
        li:nth-of-type(1){left: 10%;}
        li:nth-of-type(2){left: 40%;}
        li:nth-of-type(3){left: 10%;}
        li:nth-of-type(4){left: 40%;}
    }
    #content #cnt6 .cloud_1{
        img:nth-of-type(1){right: 0;}
        img:nth-of-type(2){left: 0;}
        img:nth-of-type(3){left: 20%;}
        img:nth-of-type(4){left: 30%;}
    }
    #content #cnt6 .cloud_2{height: 50%;width: 100%;
        img:nth-of-type(1){left: 0;}
        img:nth-of-type(2){left: 10%;}
        img:nth-of-type(3){left: 40%;}
        img:nth-of-type(4){left: 50%;}
    }
    #content #cnt6 .cloud_3{height: 25%;width: 100%;
        img:nth-of-type(1){left: 50%;}
        img:nth-of-type(2){left: 0;}
        img:nth-of-type(3){left: 10%;}
        img:nth-of-type(4){left: 20%;}
    }
       
}

@media all and (max-width: 1100px) {
    #content #cnt2 .moonshadow1, #content #cnt2 .moonshadow2, #content #cnt2 .moonshadow3{bottom: 4%;}
    #content #cnt7 .wave{
        img:nth-of-type(1){position: absolute;bottom: -10rem;@include animation(wave1 4s linear infinite);z-index: 1;}
        img:nth-of-type(2){position: absolute;bottom: -10rem;z-index: 2;@include animation(wave1 2s linear infinite);}
    }
}
@media all and (max-width: 1000px) {
    #content #cnt2 .moonshadow1, #content #cnt2 .moonshadow2, #content #cnt2 .moonshadow3{bottom: 5%;}
    #content #cnt6 .modal_cnt .etc{
        h3{font-size: 2.5rem;}
        a{font-size: 1.2rem;font-weight: 500;line-height: 2.5rem ;padding-right: 1rem;padding-top: 0.5rem;
        &:hover{text-decoration: underline;}
        }
    }
}

//4) 960이하
@media all and (max-width: 980px) {

    #content > #cnt4 > h3, #content > #cnt5 > h3, #content > #cnt6 > h3{position: absolute;left: 20%; @include transform(rotate(270deg));float: none;}
    #content #cnt3 #main-ctr{
        h1{font-size: 3rem;}
    }
    .para{display: none;}
    #content #cnt2 .moonshadow1, #content #cnt2 .moonshadow2, #content #cnt2 .moonshadow3{width: 30%;bottom: 6%;}
    #content #cnt4 #cnt4-2 .cntwrap{height: 80vh;
        &.fix > ul{position:relative;top:80%;margin-top: -300px;margin-left: 0;width: validate;height: 600px;
            > li{float:left;width: 400px;height: 600px;line-height: 600px;
                h3{font-size: 5rem;left: 10%;}
                p{font-size: 3rem;left: 40%;}
            }
        }
    }
    #content #cnt6 #modal1 .etc{
        a{font-size: 1rem;padding-right:0.3rem;}
    }
}

//5) 760이하 : #gnb padding edit 60, 20, 10px
@media all and (max-width: 760px) {
    #content > #cnt4 > h3, #content > #cnt5 > h3, #content > #cnt6 > h3{left: 30%;}
    #content #cnt3 #main-ctr{
        h1{font-size: 2.5rem;}
    }
    #content #cnt5 .smallstudio{width: 90%;left: 5%;
        .ss-title li{top: 5rem;
            h3{font-size: 4rem;padding: 30px 0;}
            p{font-size: 3rem;line-height: 4rem;}
        }}
    #content #cnt6 .modal_cnt .etc{
            #tit1{width: 100%;text-align: left;}
            a{font-size: 1.2rem;padding: 0 0.5rem;text-align: center;}
    }
    #content #cnt6 .cloud .linkcloud{
        li:nth-of-type(1){left: 5%;}
        li:nth-of-type(2){left: 30%;}
        li:nth-of-type(3){left: 5%;}
        li:nth-of-type(4){left: 30%;}
    }
    #content #cnt6 .cloud .cloud_1, #content #cnt6 .cloud .cloud_2, #content #cnt6 .cloud .cloud_3{width: 60%;}
    #content #cnt7 .wave{
        img:nth-of-type(1){bottom: -5rem;}
        img:nth-of-type(2){bottom: -5rem;}
        img:nth-of-type(3){width: 70%;top: 40%;}
    }
    #content #cnt6 .linkcloud li{width: 60%;height: 10%}
}

//6) 640이하
@media all and (max-width: 640px) {
    #content #cnt6 .modal_cnt {width: 95%;
        .etc{
            #tit1{width: 100%;text-align: left;}
            a{font-size: 1rem;padding-right:0.5rem;text-align: right;}
        }
    }
    #content #cnt3 #main-ctr h1{font-size: 2rem;}
    #content #cnt2 #moon .moon{width: 40%;bottom: 16%;}
    #content #cnt2 .moonshadow1, #content #cnt2 .moonshadow2, #content #cnt2 .moonshadow3{bottom: 11%;width: 30%;}
    #content #cnt7 h3{bottom: 10rem;font-size: 4rem;}
}

//7) 480이하
@media all and (max-width: 480px) {
    #content #cnt7 h3{font-size: 3rem;}
    #content #cnt7 .wave{
        img:nth-of-type(1){bottom: -4rem;}
        img:nth-of-type(2){bottom: -4rem;}
    }
}

//7) 480이하
@media all and (max-width: 360px) {
   
}

/* @media screen and (orientation: portrait) {
    //모바일 기기의 회전 속성 : portrait(세로 길게)
}
@media screen and (orientation: landscape) {
    //모바일 기기의 회전 속성 : landscape(가로 길게)
} */