@charset "UTF-8";
/* 폰트 설정 */
font-face {
  font-family: star;
  font-weight: 400;
  src: url("../font/Starjedi.otf.eot");
  src: local("※"), url("../font/Starjedi.woff") format("woff"), url("../font/Starjedi.otf") format("opentype"); }

font-face {
  font-family: smile;
  font-weight: 400;
  src: local("※"), url("../font/BinggraeMelona.woff") format("woff"), url("../font/BinggraeMelona.otf") format("opentype"); }

font-face {
  font-family: smile;
  font-weight: 600;
  src: url("../font/BinggraeMelonBold.otf.eot");
  src: local("※"), url("../font/BinggraeMelona-Bold.woff") format("woff"), url("../font/BinggraeMelona.otf") format("opentype"); }

/* tagreset */
* {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4 {
  font-size: 100%; }

ul, li {
  list-style: none; }

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit; }

img {
  vertical-align: top;
  border: none;
  max-width: 100%; }

address {
  font-style: normal; }

button {
  border: none;
  background: none;
  cursor: pointer; }

header, nav, section, article, footer {
  display: block; }

/* common class */
.p_r {
  position: relative; }

.p_a {
  position: absolute; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

.sr-only {
  position: absolute;
  top: 0;
  left: -9999px; }

body {
  width: 100%;
  margin: 0 auto;
  font-family: smile;
  font-weight: 400;
  font-size: 16px; }

.area {
  width: 100%;
  height: 100%; }

/* skip  */
#skip a {
  position: absolute;
  top: 0;
  left: -9999px;
  z-index: 1000; }

#skip a:focus {
  left: 0;
  width: 100%;
  text-align: center;
  height: 3rem;
  line-height: 3rem;
  background: #000;
  color: #fff;
  font-size: 1.5rem; }

/* header */
#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  z-index: 2000; }
  #header .btn_menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%; }
    #header .btn_menu .line {
      position: absolute;
      left: 10%;
      width: 15%;
      height: 0.7rem;
      background: #000; }
    #header .btn_menu .top {
      top: 10%; }
    #header .btn_menu .mid {
      top: 40%; }
    #header .btn_menu .btm {
      top: 70%; }
  #header #gnb {
    visibility: hidden; }

/* cnt1 */
#content {
  width: 100%;
  height: 100%;
  color: #fff; }

#cnt1 {
  position: relative;
  height: 1080px;
  width: 100%;
  background-image: url("../images/cnt1/bg.png");
  box-sizing: border-box;
  overflow: hidden; }

.portfolio {
  top: 25%;
  left: 15%;
  -webkit-animation: star 10s ease-out;
  -moz-animation: star 10s ease-out;
  -o-animation: star 10s ease-out;
  animation: star 10s ease-out; }

.foryou {
  top: 55%;
  left: 15%;
  -webkit-animation: wars 10s ease-out;
  -moz-animation: wars 10s ease-out;
  -o-animation: wars 10s ease-out;
  animation: wars 10s ease-out; }

.byline {
  font-family: star;
  top: 44%;
  left: 25%;
  -webkit-animation: move-byline 10s linear;
  -moz-animation: move-byline 10s linear;
  -o-animation: move-byline 10s linear;
  animation: move-byline 10s linear;
  font-size: 5rem; }
  .byline span {
    display: inline-block;
    -webkit-animation: spin-letters 10s linear;
    -moz-animation: spin-letters 10s linear;
    -o-animation: spin-letters 10s linear;
    animation: spin-letters 10s linear; }

@-webkit-keyframes star {
  0% {
    opacity: 0;
    transform: scale(1.5) translateY(-0.75em); }
  20% {
    opacity: 1; }
  89% {
    opacity: 1;
    transform: scale(1); }
  100% {
    opacity: 0;
    transform: translateZ(-1000em); } }
@-moz-keyframes star {
  0% {
    opacity: 0;
    transform: scale(1.5) translateY(-0.75em); }
  20% {
    opacity: 1; }
  89% {
    opacity: 1;
    transform: scale(1); }
  100% {
    opacity: 0;
    transform: translateZ(-1000em); } }
@keyframes star {
  0% {
    opacity: 0;
    transform: scale(1.5) translateY(-0.75em); }
  20% {
    opacity: 1; }
  89% {
    opacity: 1;
    transform: scale(1); }
  100% {
    opacity: 0;
    transform: translateZ(-1000em); } }
@-webkit-keyframes wars {
  0% {
    opacity: 0;
    transform: scale(1.5) translateY(0.5em); }
  20% {
    opacity: 1; }
  90% {
    opacity: 1;
    transform: scale(1); }
  100% {
    opacity: 0;
    transform: translateZ(-1000em); } }
@-moz-keyframes wars {
  0% {
    opacity: 0;
    transform: scale(1.5) translateY(0.5em); }
  20% {
    opacity: 1; }
  90% {
    opacity: 1;
    transform: scale(1); }
  100% {
    opacity: 0;
    transform: translateZ(-1000em); } }
@keyframes wars {
  0% {
    opacity: 0;
    transform: scale(1.5) translateY(0.5em); }
  20% {
    opacity: 1; }
  90% {
    opacity: 1;
    transform: scale(1); }
  100% {
    opacity: 0;
    transform: translateZ(-1000em); } }
@-webkit-keyframes spin-letters {
  0%, 10% {
    opacity: 0;
    transform: rotateY(90deg); }
  30% {
    opacity: 1; }
  70%, 86% {
    transform: rotateY(0);
    opacity: 1; }
  95%, 100% {
    opacity: 0; } }
@-moz-keyframes spin-letters {
  0%, 10% {
    opacity: 0;
    transform: rotateY(90deg); }
  30% {
    opacity: 1; }
  70%, 86% {
    transform: rotateY(0);
    opacity: 1; }
  95%, 100% {
    opacity: 0; } }
@keyframes spin-letters {
  0%, 10% {
    opacity: 0;
    transform: rotateY(90deg); }
  30% {
    opacity: 1; }
  70%, 86% {
    transform: rotateY(0);
    opacity: 1; }
  95%, 100% {
    opacity: 0; } }
@-webkit-keyframes move-byline {
  0% {
    transform: translateZ(5em); }
  100% {
    transform: translateZ(0); } }
@-moz-keyframes move-byline {
  0% {
    transform: translateZ(5em); }
  100% {
    transform: translateZ(0); } }
@keyframes move-byline {
  0% {
    transform: translateZ(5em); }
  100% {
    transform: translateZ(0); } }
/* cnt2 */
#cnt2 {
  width: 100%;
  height: 2045px;
  background-image: url("../images/cnt2/bg.png");
  overflow: hidden;
  z-index: -1; }
  #cnt2 .moon {
    bottom: 12%;
    right: -10%;
    z-index: 1; }
  #cnt2 h2 {
    bottom: 15%;
    left: 3%;
    color: #ffff99;
    font-family: smile;
    font-weight: 600;
    font-size: 7.5rem;
    line-height: 7.5rem; }

.cloud {
  bottom: 20%;
  left: -10%;
  z-index: 0;
  -webkit-animation: cloud 50s linear infinite;
  -moz-animation: cloud 50s linear infinite;
  -o-animation: cloud 50s linear infinite;
  animation: cloud 50s linear infinite; }

@-webkit-keyframes cloud {
  0% {
    opacity: .7;
    transform: translateX(0em); }
  25% {
    opacity: .8;
    transform: translateX(3em); }
  50% {
    opacity: 1;
    transform: translateX(5em); }
  75% {
    opacity: .8;
    transform: translateX(3em); }
  100% {
    opacity: .6;
    transform: translateX(0em); } }
@-moz-keyframes cloud {
  0% {
    opacity: .7;
    transform: translateX(0em); }
  25% {
    opacity: .8;
    transform: translateX(3em); }
  50% {
    opacity: 1;
    transform: translateX(5em); }
  75% {
    opacity: .8;
    transform: translateX(3em); }
  100% {
    opacity: .6;
    transform: translateX(0em); } }
@keyframes cloud {
  0% {
    opacity: .7;
    transform: translateX(0em); }
  25% {
    opacity: .8;
    transform: translateX(3em); }
  50% {
    opacity: 1;
    transform: translateX(5em); }
  75% {
    opacity: .8;
    transform: translateX(3em); }
  100% {
    opacity: .6;
    transform: translateX(0em); } }
.moonshadow1 {
  bottom: -2%;
  right: 0;
  -webkit-animation: moonshadow1 4s linear infinite;
  -moz-animation: moonshadow1 4s linear infinite;
  -o-animation: moonshadow1 4s linear infinite;
  animation: moonshadow1 4s linear infinite; }

@-webkit-keyframes moonshadow1 {
  0% {
    opacity: 1;
    transform: translateY(0em); }
  15% {
    transform: translateY(0.5em); }
  30% {
    transform: translateY(1em); }
  45% {
    opacity: .2;
    transform: translateY(0.5em); }
  60% {
    transform: translateY(1em); }
  70% {
    transform: translateY(0.5em); }
  100% {
    opacity: 1;
    transform: translateY(0em); } }
@-moz-keyframes moonshadow1 {
  0% {
    opacity: 1;
    transform: translateY(0em); }
  15% {
    transform: translateY(0.5em); }
  30% {
    transform: translateY(1em); }
  45% {
    opacity: .2;
    transform: translateY(0.5em); }
  60% {
    transform: translateY(1em); }
  70% {
    transform: translateY(0.5em); }
  100% {
    opacity: 1;
    transform: translateY(0em); } }
@keyframes moonshadow1 {
  0% {
    opacity: 1;
    transform: translateY(0em); }
  15% {
    transform: translateY(0.5em); }
  30% {
    transform: translateY(1em); }
  45% {
    opacity: .2;
    transform: translateY(0.5em); }
  60% {
    transform: translateY(1em); }
  70% {
    transform: translateY(0.5em); }
  100% {
    opacity: 1;
    transform: translateY(0em); } }
.moonshadow2 {
  bottom: -2%;
  right: 0;
  opacity: 0.7;
  -webkit-animation: moonshadow2 4s linear infinite;
  -moz-animation: moonshadow2 4s linear infinite;
  -o-animation: moonshadow2 4s linear infinite;
  animation: moonshadow2 4s linear infinite; }

@-webkit-keyframes moonshadow2 {
  0% {
    opacity: 1;
    transform: translateX(0em); }
  15% {
    transform: translateX(1em); }
  30% {
    transform: translateX(0em); }
  45% {
    opacity: .2;
    transform: translateX(1em); }
  60% {
    transform: translateX(0em); }
  70% {
    transform: translateX(1em); }
  100% {
    opacity: 1;
    transform: translateX(0em); } }
@-moz-keyframes moonshadow2 {
  0% {
    opacity: 1;
    transform: translateX(0em); }
  15% {
    transform: translateX(1em); }
  30% {
    transform: translateX(0em); }
  45% {
    opacity: .2;
    transform: translateX(1em); }
  60% {
    transform: translateX(0em); }
  70% {
    transform: translateX(1em); }
  100% {
    opacity: 1;
    transform: translateX(0em); } }
@keyframes moonshadow2 {
  0% {
    opacity: 1;
    transform: translateX(0em); }
  15% {
    transform: translateX(1em); }
  30% {
    transform: translateX(0em); }
  45% {
    opacity: .2;
    transform: translateX(1em); }
  60% {
    transform: translateX(0em); }
  70% {
    transform: translateX(1em); }
  100% {
    opacity: 1;
    transform: translateX(0em); } }
.star1 {
  top: 15%;
  right: 0;
  z-index: -1;
  -webkit-animation: star1 2s linear infinite;
  -moz-animation: star1 2s linear infinite;
  -o-animation: star1 2s linear infinite;
  animation: star1 2s linear infinite; }

.star2 {
  top: 0;
  right: 0;
  z-index: -1;
  -webkit-animation: star2 3s linear infinite;
  -moz-animation: star2 3s linear infinite;
  -o-animation: star2 3s linear infinite;
  animation: star2 3s linear infinite; }

@-webkit-keyframes star1 {
  0% {
    opacity: 0;
    transform: translateX(0em) translatey(0em); }
  10% {
    transform: translateX(-10em) translatey(10em); }
  20% {
    transform: translateX(-20em) translatey(20em); }
  30% {
    opacity: .2;
    transform: translateX(-30em) translatey(30em); }
  40% {
    transform: translateX(-40em) translatey(40em); }
  50% {
    transform: translateX(-50em) translatey(50em); }
  60% {
    opacity: .1;
    transform: translateX(-60em) translatey(60em); }
  70% {
    transform: translateX(-70em) translatey(70em); }
  80% {
    transform: translateX(-80em) translatey(80em); }
  90% {
    transform: translateX(-90em) translatey(90em); }
  100% {
    opacity: 0;
    transform: translateX(-100em) translatey(100em); } }
@-moz-keyframes star1 {
  0% {
    opacity: 0;
    transform: translateX(0em) translatey(0em); }
  10% {
    transform: translateX(-10em) translatey(10em); }
  20% {
    transform: translateX(-20em) translatey(20em); }
  30% {
    opacity: .2;
    transform: translateX(-30em) translatey(30em); }
  40% {
    transform: translateX(-40em) translatey(40em); }
  50% {
    transform: translateX(-50em) translatey(50em); }
  60% {
    opacity: .1;
    transform: translateX(-60em) translatey(60em); }
  70% {
    transform: translateX(-70em) translatey(70em); }
  80% {
    transform: translateX(-80em) translatey(80em); }
  90% {
    transform: translateX(-90em) translatey(90em); }
  100% {
    opacity: 0;
    transform: translateX(-100em) translatey(100em); } }
@keyframes star1 {
  0% {
    opacity: 0;
    transform: translateX(0em) translatey(0em); }
  10% {
    transform: translateX(-10em) translatey(10em); }
  20% {
    transform: translateX(-20em) translatey(20em); }
  30% {
    opacity: .2;
    transform: translateX(-30em) translatey(30em); }
  40% {
    transform: translateX(-40em) translatey(40em); }
  50% {
    transform: translateX(-50em) translatey(50em); }
  60% {
    opacity: .1;
    transform: translateX(-60em) translatey(60em); }
  70% {
    transform: translateX(-70em) translatey(70em); }
  80% {
    transform: translateX(-80em) translatey(80em); }
  90% {
    transform: translateX(-90em) translatey(90em); }
  100% {
    opacity: 0;
    transform: translateX(-100em) translatey(100em); } }
@-webkit-keyframes star2 {
  0% {
    opacity: 0;
    transform: translateX(0em) translatey(0em); }
  50% {
    opacity: .3;
    transform: translateX(-100em) translatey(50em); }
  100% {
    opacity: 0;
    transform: translateX(-200em) translatey(100em); } }
@-moz-keyframes star2 {
  0% {
    opacity: 0;
    transform: translateX(0em) translatey(0em); }
  50% {
    opacity: .3;
    transform: translateX(-100em) translatey(50em); }
  100% {
    opacity: 0;
    transform: translateX(-200em) translatey(100em); } }
@keyframes star2 {
  0% {
    opacity: 0;
    transform: translateX(0em) translatey(0em); }
  50% {
    opacity: .3;
    transform: translateX(-100em) translatey(50em); }
  100% {
    opacity: 0;
    transform: translateX(-200em) translatey(100em); } }
/* cnt3 */
#cnt3 {
  width: 100%;
  height: 2000px;
  background: #3161c1;
  display: table;
  background-image: url("../images/cnt4/cloud2.png"); }
  #cnt3 .hello {
    color: white;
    letter-spacing: 2px;
    font-size: 4rem;
    font-family: "smile";
    font-weight: 600; }
  #cnt3 #main-ctr {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
  #cnt3 .content {
    border: 1px solid black;
    display: inline-block;
    position: relative; }
  #cnt3 svg {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9); }
    #cnt3 svg #smile-up,
    #cnt3 svg #circle,
    #cnt3 svg #eye-to-left,
    #cnt3 svg #eye-to-right,
    #cnt3 svg #wink,
    #cnt3 svg #bg {
      visibility: hidden; }

/* cnt4 */
#cnt4 {
  background: linear-gradient(#3161c1, #ffcccc);
  position: relative;
  z-index: -2; }
  #cnt4 #cnt4-1 {
    position: fixed;
    bottom: 25%;
    left: 35%;
    -webkit-animation: bloom 10s alternate infinite;
    -moz-animation: bloom 10s alternate infinite;
    -o-animation: bloom 10s alternate infinite;
    animation: bloom 10s alternate infinite; }
    #cnt4 #cnt4-1 li:nth-of-type(1) {
      -webkit-transform: scale(0.8);
      -moz-transform: scale(0.8);
      -o-transform: scale(0.8);
      -ms-transform: scale(0.8);
      transform: scale(0.8); }
    #cnt4 #cnt4-1 li:nth-of-type(2) {
      position: absolute;
      top: 2rem;
      left: -1rem;
      -webkit-transform: scale(0.75);
      -moz-transform: scale(0.75);
      -o-transform: scale(0.75);
      -ms-transform: scale(0.75);
      transform: scale(0.75);
      -webkit-animation: bloom-1 5s alternate infinite;
      -moz-animation: bloom-1 5s alternate infinite;
      -o-animation: bloom-1 5s alternate infinite;
      animation: bloom-1 5s alternate infinite; }
    #cnt4 #cnt4-1 li:nth-of-type(3) {
      position: absolute;
      top: 23.5rem;
      left: 6.5rem;
      -webkit-animation: fire 10s alternate infinite;
      -moz-animation: fire 10s alternate infinite;
      -o-animation: fire 10s alternate infinite;
      animation: fire 10s alternate infinite;
      z-index: -3; }

@-webkit-keyframes bloom {
  0% {
    opacity: .8;
    transform: translateY(5em); }
  25% {
    opacity: 1;
    transform: translateY(-1em); }
  50% {
    opacity: .8;
    transform: translateY(5em); }
  75% {
    opacity: 1;
    transform: translateY(-1em); }
  100% {
    opacity: .8;
    transform: translateY(5em); } }
@-moz-keyframes bloom {
  0% {
    opacity: .8;
    transform: translateY(5em); }
  25% {
    opacity: 1;
    transform: translateY(-1em); }
  50% {
    opacity: .8;
    transform: translateY(5em); }
  75% {
    opacity: 1;
    transform: translateY(-1em); }
  100% {
    opacity: .8;
    transform: translateY(5em); } }
@keyframes bloom {
  0% {
    opacity: .8;
    transform: translateY(5em); }
  25% {
    opacity: 1;
    transform: translateY(-1em); }
  50% {
    opacity: .8;
    transform: translateY(5em); }
  75% {
    opacity: 1;
    transform: translateY(-1em); }
  100% {
    opacity: .8;
    transform: translateY(5em); } }
@-webkit-keyframes bloom-1 {
  0% {
    opacity: 1; }
  50% {
    opacity: .8; }
  100% {
    opacity: 1; } }
@-moz-keyframes bloom-1 {
  0% {
    opacity: 1; }
  50% {
    opacity: .8; }
  100% {
    opacity: 1; } }
@keyframes bloom-1 {
  0% {
    opacity: 1; }
  50% {
    opacity: .8; }
  100% {
    opacity: 1; } }
@-webkit-keyframes fire {
  0% {
    opacity: .3;
    transform: translateY(1em) translateX(0.5em) scale(0.2); }
  25% {
    opacity: 1;
    transform: translateY(0em) translateX(0em) scale(0.3); }
  50% {
    opacity: .3;
    transform: translateX(-0.5em) translateY(1em) scale(0.2); }
  75% {
    opacity: 1;
    transform: translateX(0em) translateY(0em) scale(0.3); }
  100% {
    opacity: .3;
    transform: translateY(1em) translateX(0.5em) scale(0.2); } }
@-moz-keyframes fire {
  0% {
    opacity: .3;
    transform: translateY(1em) translateX(0.5em) scale(0.2); }
  25% {
    opacity: 1;
    transform: translateY(0em) translateX(0em) scale(0.3); }
  50% {
    opacity: .3;
    transform: translateX(-0.5em) translateY(1em) scale(0.2); }
  75% {
    opacity: 1;
    transform: translateX(0em) translateY(0em) scale(0.3); }
  100% {
    opacity: .3;
    transform: translateY(1em) translateX(0.5em) scale(0.2); } }
@keyframes fire {
  0% {
    opacity: .3;
    transform: translateY(1em) translateX(0.5em) scale(0.2); }
  25% {
    opacity: 1;
    transform: translateY(0em) translateX(0em) scale(0.3); }
  50% {
    opacity: .3;
    transform: translateX(-0.5em) translateY(1em) scale(0.2); }
  75% {
    opacity: 1;
    transform: translateX(0em) translateY(0em) scale(0.3); }
  100% {
    opacity: .3;
    transform: translateY(1em) translateX(0.5em) scale(0.2); } }
#cnt4-2 {
  width: 100%;
  overflow-x: hidden;
  /* 기본 relative */
  /* 가로 스크롤로 보여질 영역에서는 fixed로 고정시키기 */ }
  #cnt4-2 .cntwrap {
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    /* 가로크기는 스크립트에서도 가능함 */ }
    #cnt4-2 .cntwrap.fix {
      position: fixed; }
    #cnt4-2 .cntwrap > ul {
      position: relative;
      top: 80%;
      margin-top: -300px;
      margin-left: 0;
      width: auto;
      height: 600px;
      background: url("../images/cnt4/cloud.png"); }
      #cnt4-2 .cntwrap > ul > li {
        float: left;
        width: 700px;
        height: 600px;
        line-height: 600px; }
        #cnt4-2 .cntwrap > ul > li h3 {
          font-size: 7rem; }
        #cnt4-2 .cntwrap > ul > li p {
          font-size: 4rem; }
      #cnt4-2 .cntwrap > ul li:nth-of-type(3) h3, #cnt4-2 .cntwrap > ul li:nth-of-type(4) h3, #cnt4-2 .cntwrap > ul li:nth-of-type(5) h3 {
        font-size: 15rem; }
      #cnt4-2 .cntwrap > ul li:nth-of-type(5) {
        background: url("../images/cnt4/악보.png") no-repeat center 65%; }
      #cnt4-2 .cntwrap > ul li:nth-of-type(6) {
        background: url("../images/cnt4/악보1.png") no-repeat center 65%;
        position: relative; }
        #cnt4-2 .cntwrap > ul li:nth-of-type(6) div {
          position: absolute;
          top: -7rem;
          left: 5rem; }
          #cnt4-2 .cntwrap > ul li:nth-of-type(6) div p {
            position: absolute;
            top: 5rem;
            left: 10rem; }
      #cnt4-2 .cntwrap > ul li:nth-of-type(7) {
        background: url("../images/cnt4/악보2.png") no-repeat center 65%;
        position: relative; }
        #cnt4-2 .cntwrap > ul li:nth-of-type(7) div {
          position: absolute;
          top: 5rem;
          left: 50%; }
          #cnt4-2 .cntwrap > ul li:nth-of-type(7) div p {
            position: absolute;
            top: -5rem;
            left: 5rem; }
      #cnt4-2 .cntwrap > ul li:nth-of-type(8) {
        background: url("../images/cnt4/악보1.png") no-repeat center 65%;
        position: relative; }
        #cnt4-2 .cntwrap > ul li:nth-of-type(8) div {
          position: absolute;
          top: -2rem;
          left: 20%; }
          #cnt4-2 .cntwrap > ul li:nth-of-type(8) div p {
            position: absolute;
            top: 8rem;
            left: 10rem; }
      #cnt4-2 .cntwrap > ul li:nth-of-type(9) {
        background: url("../images/cnt4/악보2.png") no-repeat center 65%;
        position: relative; }
        #cnt4-2 .cntwrap > ul li:nth-of-type(9) div {
          position: absolute;
          top: -1rem;
          left: 70%; }
          #cnt4-2 .cntwrap > ul li:nth-of-type(9) div p {
            position: absolute;
            top: 6rem;
            left: 12rem; }
      #cnt4-2 .cntwrap > ul li:nth-of-type(10) {
        background: url("../images/cnt4/악보1.png") no-repeat center 65%;
        position: relative; }
        #cnt4-2 .cntwrap > ul li:nth-of-type(10) div {
          position: absolute;
          top: 5rem;
          left: 60%; }
          #cnt4-2 .cntwrap > ul li:nth-of-type(10) div p {
            position: absolute;
            top: -4rem;
            left: 8rem; }
      #cnt4-2 .cntwrap > ul li:nth-of-type(11) {
        background: url("../images/cnt4/악보2.png") no-repeat center 65%;
        position: relative; }
        #cnt4-2 .cntwrap > ul li:nth-of-type(11) div {
          position: absolute;
          top: 0;
          left: 20%; }
          #cnt4-2 .cntwrap > ul li:nth-of-type(11) div p {
            position: absolute;
            top: 6rem;
            left: 8rem; }
      #cnt4-2 .cntwrap > ul li:nth-of-type(12) {
        background: url("../images/cnt4/악보1.png") no-repeat center 65%;
        position: relative; }
        #cnt4-2 .cntwrap > ul li:nth-of-type(12) div {
          position: absolute;
          top: -7rem;
          left: 0; }
          #cnt4-2 .cntwrap > ul li:nth-of-type(12) div p {
            position: absolute;
            top: 6rem;
            left: 20rem; }
      #cnt4-2 .cntwrap > ul li:nth-of-type(13) {
        background: url("../images/cnt4/악보2.png") no-repeat center 65%;
        position: relative; }
        #cnt4-2 .cntwrap > ul li:nth-of-type(13) div {
          position: absolute;
          top: -3rem;
          left: 0; }
          #cnt4-2 .cntwrap > ul li:nth-of-type(13) div p {
            position: absolute;
            top: 8rem;
            left: 15rem; }
      #cnt4-2 .cntwrap > ul li:nth-of-type(14) {
        background: url("../images/cnt4/악보4.png") no-repeat center 65%; }

/* cnt5 */
#cnt5 {
  width: 100%;
  height: 2000px;
  position: relative;
  z-index: 1000;
  color: #FFF;
  background: linear-gradient(#fcc, #cff);
  background-image: url("../images/cnt5/cloud.png"); }
  #cnt5 .bigstudio {
    top: 20%;
    right: 5%;
    width: 1183px;
    height: 900px;
    background: url("../images/cnt5/스튜디오(빅).png"); }
    #cnt5 .bigstudio li {
      position: absolute; }
      #cnt5 .bigstudio li.choice {
        opacity: 1; }
    #cnt5 .bigstudio .bs-big li:nth-of-type(1) {
      bottom: 0;
      right: 0; }
    #cnt5 .bigstudio .bs-big li:nth-of-type(2) {
      top: 30%;
      left: 5%;
      background: linear-gradient(to bottom right, #fcc, #ff99cc);
      border: 10px solid #fff;
      border-radius: 25px; }
    #cnt5 .bigstudio .bs-big li:nth-of-type(3) {
      top: 40%;
      left: 25%;
      background: linear-gradient(to bottom right, #fcc, #ff99cc);
      border: 10px solid #fff;
      border-radius: 25px; }
    #cnt5 .bigstudio .bs-big li:nth-of-type(4) {
      top: 45%;
      left: 43%;
      background: linear-gradient(to bottom right, #fcc, #ff99cc);
      border: 10px solid #fff;
      border-radius: 25px; }
    #cnt5 .bigstudio .bs-big li:nth-of-type(5) {
      top: 40%;
      left: 65%;
      background: linear-gradient(to bottom right, #fcc, #ff99cc);
      border: 10px solid #fff;
      border-radius: 25px; }
    #cnt5 .bigstudio .bs-small li {
      display: none; }
    #cnt5 .bigstudio .bs-small .f {
      display: block;
      -webkit-animation: f 1s linear;
      -moz-animation: f 1s linear;
      -o-animation: f 1s linear;
      animation: f 1s linear; }
    #cnt5 .bigstudio .bs-small li:nth-of-type(2) {
      top: 12%;
      left: -10%; }
    #cnt5 .bigstudio .bs-small li:nth-of-type(3) {
      top: 12%;
      left: 10%; }
    #cnt5 .bigstudio .bs-small li:nth-of-type(4) {
      top: 12%;
      left: 32%; }
    #cnt5 .bigstudio .bs-small li:nth-of-type(5) {
      top: 12%;
      left: 50%; }
    #cnt5 .bigstudio .bs-small li:nth-of-type(1) {
      top: 20.3%;
      left: 80%;
      -webkit-transform: scale(1.7);
      -moz-transform: scale(1.7);
      -o-transform: scale(1.7);
      -ms-transform: scale(1.7);
      transform: scale(1.7); }
  #cnt5 .smallstudio {
    top: 20%;
    left: 5%;
    width: 428px;
    height: 900px;
    background: url("../images/cnt5/스튜디오(작).png"); }
    #cnt5 .smallstudio li {
      position: absolute;
      width: 100%; }
    #cnt5 .smallstudio .ss-title {
      text-align: center; }
      #cnt5 .smallstudio .ss-title .f {
        display: block; }
      #cnt5 .smallstudio .ss-title li {
        display: none;
        top: 20rem; }
      #cnt5 .smallstudio .ss-title h3 {
        position: absolute;
        bottom: -18rem;
        left: 0;
        font-size: 3rem;
        line-height: 4rem;
        width: 100%; }
      #cnt5 .smallstudio .ss-title p {
        position: absolute;
        width: 100%;
        top: 0rem;
        left: 0;
        font-size: 2.5rem; }
      #cnt5 .smallstudio .ss-title img {
        position: absolute;
        top: -15rem;
        left: 38%;
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -o-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3); }
    #cnt5 .smallstudio .ss-button li:nth-of-type(1) {
      bottom: 5%;
      left: 3%; }
    #cnt5 .smallstudio .ss-button li:nth-of-type(2) {
      bottom: 5%;
      left: 25%; }
    #cnt5 .smallstudio .ss-button li:nth-of-type(3) {
      bottom: 5%;
      left: 45%; }
    #cnt5 .smallstudio .ss-button li:nth-of-type(4) {
      bottom: 5%;
      left: 63%; }
    #cnt5 .smallstudio .ss-button li:nth-of-type(5) {
      bottom: 5%;
      left: 79%; }

@-webkit-keyframes f {
  0% {
    opacity: .1; }
  25% {
    opacity: 1; }
  45% {
    opacity: .1; }
  60% {
    opacity: 1; }
  100% {
    opacity: .1; } }
@-moz-keyframes f {
  0% {
    opacity: .1; }
  25% {
    opacity: 1; }
  45% {
    opacity: .1; }
  60% {
    opacity: 1; }
  100% {
    opacity: .1; } }
@keyframes f {
  0% {
    opacity: .1; }
  25% {
    opacity: 1; }
  45% {
    opacity: .1; }
  60% {
    opacity: 1; }
  100% {
    opacity: .1; } }
/* cnt6 */
#cnt6 {
  width: 100%;
  height: 8163px;
  background: url("../images/common/큰화면-작업.png"); }

/*# sourceMappingURL=index.css.map */
